[2018-02-14 05:35] upanshed opened #2 "Is it possible to update the items after fetch?"
Just wondering if this is possible, I have tried several things with no luck?
Sorry if this is the wrong place to ask this.

[2018-02-14 13:01] lfkwtz commented on #2
Not currently but I could add that, or feel free to submit a PR

[2018-02-22 05:18] lfkwtz commented on #2
Handled in #5

[2018-02-22 05:18] #2 closed

[2018-03-06 15:47] BatDroid opened #8 "focus on picker in scrollview"
hi,
anyone knows how we can focus on picker?
i have form that at the end of the form there is this picker and i want to scroll to it

[2018-03-07 15:33] apipkin opened #9 "Multiple instances in scene"
When there are multiple instances in the scene, touching one of the lower instances will focus on the first instance and scroll the scene to the location of the first scene. This is causing frustrations to the user. Is there a need for a unique ref to the passed into the NRPickerSelect component or is this handled internally?

[2018-03-10 06:25] BatDroid commented on #8
yes i would like to do it but i cant find any props or solution in document/example of the picker

[2018-03-12 04:23] lfkwtz commented on #8
Wrap the component in a view, get the position of the view, and then use scrollto

[2018-03-12 04:23] #8 closed

[2018-03-21 17:50] lfkwtz commented on #9
Closing due to inactivity

[2018-03-21 17:50] #9 closed

[2018-03-31 18:14] getaaron opened #10 "componentWillReceiveProps deprecated"
https://github.com/lawnstarter/react-native-picker-select/blob/8d77e8d481130b5e6377edefb067d4a4acce624f/src/index.js#L36-L38

needs to be replaced with `getDerivedStateFromProps` instead

https://reactjs.org/docs/react-component.html#unsafe_componentwillreceiveprops
https://reactjs.org/docs/react-component.html#static-getderivedstatefromprops

[2018-04-17 19:44] getaaron commented on #10
@lfkwtz Any updates on this?

[2018-04-18 13:36] lfkwtz commented on #10
On it

[2018-04-20 13:45] lfkwtz commented on #10
Closed #13

[2018-04-20 13:45] #10 closed

[2018-04-23 10:04] husnaingoldev opened #14 "Weird Background when using borders"
Hello guys, first of all thanks for the great library.

I want to bring this into your attention, that when i try to use **RNPickerSelect** with borders

[code]

There appears a strange background on PLUS variants of iPhones i-e iPhone 6Plus, 7Plus and 8Plus as well as in iPhoneX.

Look at the following image for better understanding
![screen shot 2018-04-23 at 3 03 11 pm](https://user-images.gith

[2018-04-25 12:52] lfkwtz commented on #14
Odd. Will take a look, thanks.

[2018-04-27 09:36] mcrab95 opened #17 "iOS modal animation"
Is it possible to set the animation type of the modal on iOS

[2018-04-29 22:47] lfkwtz commented on #17
Not currently - the current animation simulates the native select properly. But feel free to submit a pr for consideration.

[2018-04-29 22:47] #17 closed

[2018-05-02 23:42] lfkwtz commented on #14
Tried on an iPhone X and wasn't able to reproduce. If you can spin up an example repo for me I'll take another look - but until then I'm going to close this.

Also - are you passing an object into the `items` prop? It should be an array.

[2018-05-02 23:42] #14 closed

[2018-05-03 05:05] husnaingoldev commented on #14
I am passing array to `items` props.

i have tried it in a new project and i am also not able to reproduce it. I don't know why it happened in my real project.

Anyhow Thanks for response.

[2018-05-03 08:44] TeRMiNaTe opened #20 "Chevron styling support"
Would love to see some styling options for the chevron.

[2018-05-04 17:30] lfkwtz commented on #20
opened up chevron styles in #21

[2018-05-04 17:30] #20 closed

[2018-05-04 17:31] lfkwtz commented on #17
opened up animation prop in #21

[2018-05-04 17:40] joshbuchea commented on #20
Fast response! Thanks @lfkwtz! 🙌

[2018-05-16 01:49] sethnkruse opened #22 "Cannot call this.inputRefs.picker.togglePicker() on Android"
I am using your example on an Android and noticed that I cannot call 'this.inputRefs.picker.togglePicker() ' to the reference created in the example.  This works perfectly for IOS but not Android.

[2018-05-18 07:05] khushboogupta1 opened #23 "Picker style is not working on IOS"
Picker is working perfectly on Android but on IOS its style is misbehaving and throwing an warning mentioned below:

    Warning: Failed prop type: Invalid prop `style` of type `number` supplied to `RNPickerSelect`, expected `object`.

"native-base": "^2.4.4",
"react-native": "0.55.4",
"npm" : 5.6.0

For reference, below is my code snippet:

        import React, { Component } from 'react';

[2018-05-18 07:36] AmirinNS commented on #23
Try this `style={{ ...pickerSelectStyles }}` in RNPickerSelect component

[2018-05-18 13:25] lfkwtz commented on #22
I'll take a look

[2018-05-21 06:03] khushboogupta1 commented on #23
@AmirinNS  That worked, thank a lot

[2018-05-26 15:02] vza100 commented on #22
I have the same issue, cannot open modal when calling 'this.inputRefs.picker.togglePicker() ' .

[2018-05-30 11:40] kholiavko-roman commented on #22
I think this is related https://github.com/facebook/react-native/issues/7817

[2018-06-01 06:28] kr0000 opened #25 "It doesn't work in landscape mode on iPhone."
On iPad everything is OK, but on mobile view picker render on left side not on bottom.

[2018-06-01 15:20] lfkwtz commented on #22
@kholiavko-roman is correct. would need a workaround to trigger the picker programmatically on android.

[2018-06-05 13:55] #25 closed

[2018-06-05 13:58] lfkwtz commented on #25
thanks for the bug report - fixed the orientation issue, although will need to update to adjust the picker height accordingly when in landscape

[2018-06-08 08:40] piet-v opened #28 "When updating items, selectedItem is compared to old items"
Hi, I noticed a bug when using items with translated labels.

When changing the language the item labels are changed which correctly triggers an update of the item state in your component.
The selectedItem label will not be updated correctly due it coming from the old items.

I guess getDerivedStateFromProps should use the updated items instead of the old items to extrapolate the selectedItem from

[2018-06-09 18:39] rodrigofbm opened #29 "Picker style is not working"
[code]

[2018-06-09 18:48] sdadrianalvarez opened #30 "Is there an option to adjust the font and size of the font?"
I want to change the fontFamily and fontSize. Thank you.

[2018-06-09 20:04] voslartomas opened #31 "Search"
Would you consider to implement search inside picker?

[2018-06-10 13:49] lfkwtz commented on #31
Can you explain in more detail?

[2018-06-10 13:52] lfkwtz commented on #29
The style object needs nested objects targeting individual parts of the component.

https://github.com/lawnstarter/react-native-picker-select/issues/23

Read through that and let me know if that helps

[2018-06-10 14:01] lfkwtz commented on #28
Can you put together an example of the issue on snack.expo.io?

[2018-06-10 14:02] lfkwtz commented on #30
Of what specifically? A certain element? On a specific platform or both?

[2018-06-10 17:50] voslartomas commented on #31
Imagine long list it would be nice to have posibility to filter that list by user input

[2018-06-10 22:15] aks1994 opened #32 "Pass styles to the TouchableOpacity and View inside ViewContainer"
Hi, thanks for making this library.

It is working well for me, but just had one question/feature request. Is it possible to pass styles to the TouchableOpacity or View of renderTextInputOrChildren inside the ViewContainer?

What I would like to achieve is making both the TouchableOpacity extend to the full area of the ViewContainer (essentially giving it Flex: 1). Currently it only occupies the w

[2018-06-11 02:01] lfkwtz commented on #32
What lines specifically are you referring to where you'd like the styles opened up as props?

Feel free to submit a PR also

[2018-06-11 02:04] aks1994 commented on #32
Lines 204 and 224. My only goal is to be able to get the touchable area to have Flex: 1 and my child component to also be able to fill the entire parent area. For this I believe both the TouchableOpacity on 204 and the View on 224 need to have Flex: 1

[2018-06-11 13:44] piet-v commented on #28
Tried to keep it as simple as possible:
https://snack.expo.io/@pleasebegentle_/picker-select-bug

[2018-06-11 18:23] lfkwtz commented on #28
Super helpful, thanks. Will take a look soon.

[2018-06-11 21:33] sdadrianalvarez commented on #30
I installed the "Open Sans" library on Android and I will also install it on iOS. On Android I put the TTF files in this path: "android / app / src / main / assets / fonts /".

Then, in react-native, I put something like this in the styles:

`input: {
    fontFamily: 'OpenSans-Regular',
    fontSize: 13,
    color: 'white',
  },`

But this does not work for "react-native-picker-select". So my ques

[2018-06-11 21:47] #28 closed

[2018-06-12 00:55] begoat opened #34 "label indicating the current selected value won't change when props change"
I met some problems when try to change state after component mounted.
* [here is the minimum repo, it doesn't work](https://github.com/begoat/temp-repreduce.git) the label indicating the current selected value won't change when props change
* [here is the online version, it works with the same code](https://snack.expo.io/H16PMK3eQ) I don't know why
I've spent much time on it but in vain, could you

[2018-06-12 12:12] lfkwtz commented on #34
Can you try with the the version currently on master and see if that fixes it? This sounds exactly like the bug fix I merged in yesterday.

https://github.com/lawnstarter/react-native-picker-select/pull/33

[2018-06-12 13:13] begoat commented on #34
I am afraid it is still not working with version 3.1.1

[2018-06-12 13:41] lfkwtz commented on #34
Version isn't what's important. Are you pulling the repo from master or from npm?

[2018-06-12 13:46] begoat commented on #34
i pulled from npm just now, i will try the former one.

[2018-06-12 14:00] begoat commented on #34
i clone this repo and install the npm dependency from file but it doesn't work

[2018-06-12 17:21] ltsharma opened #35 "select multiple option"
Is there any plans to add support for multiple select options?

[2018-06-12 17:54] lfkwtz commented on #34
try 3.1.2

[2018-06-12 19:15] claudelarland commented on #30
I have the same problem

[2018-06-12 19:28] lfkwtz commented on #35
Not currently, but I've added this to the feature request board. Feel free to submit a PR.

[2018-06-12 19:28] #35 closed

[2018-06-12 19:29] lfkwtz commented on #31
Not currently, but I've added this to the feature request board. Feel free to submit a PR.

[2018-06-12 19:29] #31 closed

[2018-06-12 20:41] lfkwtz commented on #32
204 is a View and 224 is a TouchableWithoutFeedback, which doesn't accept a style prop.

[2018-06-12 20:43] lfkwtz commented on #30
What element are you trying to target with the font? The Picker component?

[2018-06-12 20:44] aks1994 commented on #32
Yeah I mixed that up. But you're right, the TouchableWithoutFeedback doesn't accept style. I think just adding the style prop to the View on 224 should be sufficient.

[2018-06-12 21:02] lfkwtz commented on #32
#37

[2018-06-12 21:02] #32 closed

[2018-06-12 22:03] sdadrianalvarez commented on #30
@lfkwtz Yes, that's exactly what I want to do.

I tried to assign it this style but it doesn't work:

`inputAndroid: {
    height: width * 0.11,
    color: cdarkblue,
    fontFamily: 'OpenSans-Regular',
    fontSize: 13,
  }`

This image shows the problem (fifth field):

![capture _2018-06-12-16-52-11](https://user-images.githubusercontent.com/12929244/41319354-205556e8-6e61-11e8-8e30-55efc8a0c743

[2018-06-13 00:05] begoat commented on #34
lastest master branch doesn't solve the problem

[2018-06-13 01:52] lfkwtz commented on #34
Your expo snack example doesn't change the props at any point. You'll need to reproduce the issue for me again, otherwise I don't know what's wrong.

[2018-06-13 02:06] lfkwtz commented on #30
That's unfortunately a limitation of the native Picker component as supplied by RN. If you do some research on Stack Overflow, you'll see some ways to modify it via the styles.xml file.

The solution here would be to use the "headless" mode for Android and wrap this component in a simulated input that is styled the way you want.

[2018-06-13 02:06] #30 closed

[2018-06-13 04:11] begoat commented on #34
Sorry for the confusing problem description. I mean when run it in expo online the component works well, but when i use it in my repo, the label won't change, i don't know why so i issue it.

[2018-06-13 06:17] sdadrianalvarez commented on #30
Oh, that's very sad.

I appreciate your help anyway.
Thank you

[2018-06-14 17:19] lfkwtz commented on #30
It'll be a little extra work, but you can make it function exactly the same way. Look at the android-headless example for help getting started.

[2018-06-14 22:30] sturmenta commented on #29
I use like this:

[code]

And working good 🤟🏻

[2018-06-22 11:28] Torippana opened #38 "When updating props for value, do not change view"
Hi, first of all.
thank you for giving great picker library.
I have question that when updating props for <RNPickerSelect value={} />
for example,  if I use Array in state below( this Array got from Firebase )
[code]
Of cause, View (on simulator) is gonna be
picker has value below
[code]
but,when I modified Array using filter method or something
[code]
View is gonna be
[code]

but I checked state

[2018-06-22 11:37] Torippana commented on #38
this is my package json
`  "dependencies": {
    "firebase": "^4.6.2",
    "moment": "^2.22.2",
    "react": "16.2.0",
    "react-native": "0.53",
    "react-native-fetch-blob": "^0.10.8",
    "react-native-gifted-chat": "^0.4.3",
    "react-native-image-picker": "^0.26.4",
    "react-native-loading-spinner-overlay": "^0.5.2",
    "react-native-picker-select": "^3.1.2",
    "react-native-sentry":

[2018-06-22 12:16] adamliversidge opened #39 "Can't style the icon"
I've tried making the arrow a little smaller but adding the following object to the css doesn't seem to work. However making the width to a large value like 50 does show an effect.

` icon: {
        width: 10,
height: 10
    }`

[2018-06-22 12:29] adamliversidge commented on #39
Sorted now using:

`icon: {
        borderTopWidth: 7,
        borderBottomWidth: 0,
        borderLeftWidth: 7,
        borderRightWidth: 7,
        marginTop: 2,
    }`

[2018-06-22 12:30] #39 closed

[2018-06-22 13:45] lfkwtz commented on #38
Please reproduce the issue you're having on snack.expo.io and then post it here. Thanks.

[2018-06-24 05:44] Torippana commented on #38
https://snack.expo.io/@torippana/test-picker

I wanna explain about this problem but before I explain it, some small problem here I put link of snack expo.
it is not updating value. these have values but it does not show except [Select a ....]

[2018-06-24 18:07] jitenderchand1 opened #40 "Reset picker value."
Is there any way to reset picker value with initial one. For eg: in your example, the default title is 'Select a color...'

After form submission, I want to reset it.

[2018-06-24 18:14] lfkwtz commented on #40
set the `value` prop to equal the value of the placeholder object (defaults as null)

[2018-06-24 18:14] #40 closed

[2018-06-24 18:28] jitenderchand1 commented on #40
It is always selecting the first option in the list if I reset the value to  null

Option list
![screen shot 2018-06-24 at 11 54 39 pm](https://user-images.githubusercontent.com/19687185/41822243-5f4093ba-780a-11e8-96e5-08591b91468f.png)

[code]

[2018-06-24 18:45] lfkwtz commented on #40
Reproduce the issue for me on expo.snack.io

[2018-06-25 19:45] lfkwtz commented on #38
Sorry I don't understand the issue you're having. Your nameArray is initialized with strings that match the option's labels, not values. Maybe that's the issue? If not, please try to explain in more detail.

[2018-06-25 19:47] lfkwtz commented on #40
Any luck reproducing?

https://snack.expo.io/SytsUTA-X

This sets a value after 1 second. Then, 1 second later, sets to `null` and the picker resets.

[2018-06-25 23:57] kawashimaken commented on #38
I am not really understand this part
[code]
And, as far as I can guess that it seems you want to change the picker select items dynamically, if that is the case, you need to simply update the state and the react-native render should do the rest for you.

[2018-06-26 07:35] jitenderchand1 commented on #40
I think something is wrong with my markup for the function that is causing the issue.  The above example is working fine.

Many thanks for your effort

[2018-06-27 05:05] fkrauthan opened #41 "Bug with placeholders"
I am currently running into a bug when using placeholder with this library. The `constructor` is working correct and is selecting the `placeholder` as the selected item.

But unfortunately the `getDerivedStateFromProps` is first selecting a item from the available list and then adding the placeholder (which the selected item suppose to be).

This leads to always having the first entry selected.

[2018-06-27 06:21] jitenderchand1 commented on #40
The issue is reproducible with the latest version of `RNPickerSelect`.  `"react-native-picker-select": "3.1.2"`

[https://snack.expo.io/rJPm3oeMQ](https://snack.expo.io/rJPm3oeMQ)

[2018-06-27 16:09] #41 closed

[2018-06-27 17:45] fkrauthan opened #45 "Defaulting of properties does not trigger onValueChange"
When I pass in a `value` of null but the function that figures out which value is selected changes this the `onValueChange` callback is not called. This leads to my state beeing out of sync of what the UI displays.

E.g.

My State Value: `null`
Value in: `null`
Items in: `{label: 'Orange',value: 'orange', label: 'Green',value: 'green'}`

My State Value: `null`
Label Displayed: `Orange`
`onValueCha

[2018-06-27 17:59] lfkwtz commented on #45
Please reproduce the issue on snack.expo.io

[2018-06-27 18:07] lfkwtz commented on #40
v3.1.3 seems to fix the issue

[2018-06-27 18:18] fkrauthan commented on #45
Sure but it will take some time until I find time to do this. But I know for sure that this is happening as I looked through the code to fix that other issue.

[2018-06-29 21:50] #45 closed

[2018-06-29 21:51] fkrauthan commented on #45
Yes that would fix the issue I saw.

[2018-06-30 05:08] lfkwtz commented on #34
You need to be using v2 or earlier. See the readme.

[2018-06-30 05:08] #34 closed

[2018-06-30 05:51] begoat commented on #34
Thank you, I tried and it worked. Sorry for not reading README carefully:)

[2018-07-02 08:37] nguyenvanphuc2203 opened #47 "styling android not working"
![screenshot_1530520610](https://user-images.githubusercontent.com/33291479/42153605-c3e4623e-7e0d-11e8-8266-eb1534955b27.png)

[2018-07-02 11:51] craig95 opened #48 "Update ReadMe to include Mode in Props"
Please update your ReadMe to include the 'mode' prop in the Props table.

[2018-07-02 13:44] lfkwtz commented on #47
Please reproduce the issue on snack.expo.io or share some code. A screenshot doesn't tell me much.

Also read through this issue, it may be related - https://github.com/lawnstarter/react-native-picker-select/issues/30

[2018-07-03 01:53] #47 closed

[2018-07-03 13:14] craig95 opened #49 "renderAndroidHeadless() does not allow you to give styles to the container."
The renderAndroidHeadless() returns a View that cannot be customised while the renderTextInputOrChildren() used in renderIOS() allows you to change the style of the view using this.props.style.inputIOSContainer. It would be nice to also customise the android view.

 In renderAndroidHeadless():
[code]

In renderTextInputOrChildren():
[code]

[2018-07-03 21:35] craig95 commented on #49
Can the fix please be published to npm?

[2018-07-04 08:40] willikay11 opened #52 "Picker does not re-render when setState is triggered"
Hi,

Thank you for making this package. It has helped quite a lot. I however have an issue. When the state of items is updated using this.setState(), the items in the picker do not change.

Thanks

[2018-07-04 12:34] lfkwtz commented on #52
Reproduce the issue for me on snack.expo.io - thanks

[2018-07-05 09:48] nguyenvanphuc2203 commented on #47
i had resovle my issue by use style inputAndoird:{} ! thank guys

[2018-07-05 11:04] #49 closed

[2018-07-05 11:05] #48 closed

[2018-07-06 08:01] kr0000 opened #54 "Android - icon is not rendered"
On iOS icon is rendered correctly, on Android no - i check source code and it could be a bug.

[2018-07-06 10:56] lfkwtz commented on #54
What version of android?

[2018-07-06 11:00] kr0000 commented on #54
27

[2018-07-06 11:22] lfkwtz commented on #54
I’ll take a look, but the arrow on Android is typically rendered by the Picker component itself.

So if it’s not there - it’s either an RN issue or a difference in Android 27 and/or your manufacturer’s flavor of Android.

If you need it, you’ll have to recreate an input using the Android headless mode.

[2018-07-06 11:22] #54 closed

[2018-07-09 02:32] #38 closed

[2018-07-09 02:33] lfkwtz commented on #38
closing due to inactivity

[2018-07-09 20:50] sidraval opened #55 "Find selected item by key instead of value"
Hello,

I am using this library to create a phone number country code picker. Both the USA & Canada have a `value` of `1` which causes the library to always find "Canada" when selecting either the USA or Canada.

I think it makes sense to find the item by it's key if defined, rather than it's value. Does that make sense? If so, I'm happy to put together a PR.

Thanks for the project!

[2018-07-09 21:23] lfkwtz commented on #55
Makes sense to me, PR welcome

[2018-07-10 02:51] MimiLau commented on #52
if the items are dynamic, it would not change according to props change..

[code]

[2018-07-10 12:19] lfkwtz commented on #52
@MimiLau hard to tell what's going on without additional code, but on the surface it looks like bad patterns that aren't triggering a re-render.

[2018-07-16 03:41] radjivF opened #57 "How can you style the placeholder ?"
Hi I'm having trouble when I try to style the placeholder?

Any idea how?

Cheers

[2018-07-16 14:52] lfkwtz commented on #57
https://github.com/lawnstarter/react-native-picker-select/blob/master/src/index.js#L138

You can change the color using this param on the style object. Is that what you were looking for?

[2018-07-16 14:53] #52 closed

[2018-07-17 03:18] lyseiha opened #58 "onValueChange double toggle after i selected."

[2018-07-17 03:19] #58 closed

[2018-07-17 04:23] radjivF commented on #57
I have try but nothing its changing on the placeholder :/

[2018-07-17 13:41] lfkwtz commented on #57
Reproduce the issue for me on snack.expo.io or share code

[2018-07-18 02:13] radjivF commented on #57
@lfkwtz  Hey mate, I did  a snack.expo.io https://snack.expo.io/BkOJGX2m7

On the line 54 its where I try to style the placeholder

[2018-07-18 11:14] lfkwtz commented on #57
Look at the example files in the repo to see how to correctly style the component’s different elements

[2018-07-18 11:14] #57 closed

[2018-07-19 20:29] lfkwtz commented on #22
closing this issue as it will live in the feature request board

[2018-07-19 20:29] #22 closed

[2018-07-25 13:17] vinicarra opened #62 "Using child TextInput"
How could I retrieve the RNPicker selected value to display In my custom text input passed as a child to the picker?

[2018-07-25 14:03] lfkwtz commented on #62
the `value` prop should always stay in sync with the selected value in the picker -- so your parent should be able to utilize that same value in the display

[2018-07-25 19:35] JulianKingman commented on #58
This is probably because of the 4.0.0 release, how did you handle it? https://github.com/lawnstarter/react-native-picker-select/releases/tag/4.0.0

[2018-07-28 17:53] #62 closed

[2018-07-28 22:53] d7laungani commented on #38
I have the same problem in that initially i have an array which is empty [] so no items show up in the dropdown . Then I make a network request and update the local state, which RN picker select is pulling from. I make sure that the state is update and state is re-rendered but the selection does not update with the new values of the updated state item.

[2018-07-30 01:00] lfkwtz commented on #38
@d7laungani can you recreate the issue on snack.expo.io or share a repo?

[2018-07-30 11:06] lfkwtz commented on #2
@maroparo you'll have to provide a repo example or reproduce it on snack.expo.io -- the example in the readme handles updating the items properly

[2018-07-30 13:07] maroparo commented on #2
Hi @lfkwtz
I can't provide a repo as it is private.
Here is the full component though.

[code]

[2018-07-31 12:28] nirajhi opened #66 "Is there any way to put horizonal scroll on the picker?"
I would like to know if there is a way to create a horizontal scroll for a long select times. By default, the pickers show the (...) for the  long characters

[2018-07-31 13:16] lfkwtz commented on #66
You may be able to pull something off with styles - but that’s not something this library will officially support. It sounds like a bad UX.

[2018-07-31 13:16] #66 closed

[2018-08-06 10:48] baqirhabsyi commented on #58
Hey @lyseiha, I encountered the same problem. Did you find out how to fix this behavior?

[2018-08-07 09:35] maroparo opened #68 "IOS picker bar icons not displaying properly on iPhone 7 Plus, 8 Plus"
Followed the docs for installing and functionality seems fine and in smaller screens issue doesn't appear. But on iPhone 7 Plus, 8 Plus and maybe on larger screens (I havn't tried it) does not render the way it should.

![screen shot 2018-08-07 at 11 33 01](https://user-images.githubusercontent.com/27883470/43767530-ac53521c-9a35-11e8-9975-2bfa2c3aa92a.png)

Is this a bug or have I done something

[2018-08-07 15:53] lfkwtz commented on #68
Are you modifying the style object at all?

[2018-08-07 23:33] eric101110 commented on #68
I'm having the same issue and its without style

[2018-08-08 11:04] lfkwtz commented on #68
Just built a fresh app on RN 0.56 and I'm not seeing it. What RN version / what version of the component? Can you share more code?

[2018-08-08 11:10] maroparo commented on #68
from package.json
[code]
my component ...

`
class FilterScreen extends React.Component {

    clicked = false;
    constructor(props) {
        super(props);
        this.props.navigator.setOnNavigatorEvent(this.onNavigatorEvent);
        this.state = {
            selectedCity: null,
            cities: [
                {
                    value: 1,
                    label: "Tirane"

[2018-08-08 12:51] lfkwtz commented on #68
Read the readme. I haven’t tested the component on 0.50, and 4x isn’t supported on React 16.0.

Let me know if the problem exists after upgrading RN.

[2018-08-09 13:31] maroparo commented on #68
@lfkwtz i updated everything and still the same results ...
I doubt that this has something to do with the version of react and or react native.
@eric101110 is having the same issue,,, maybe he can confirm that this has nothing to do with the react native and react version ....

[2018-08-09 13:51] lfkwtz commented on #68
If one of you could share a repo that reproduces that problem, that would help - since I wasn't able to reproduce this myself.

[2018-08-09 13:53] maroparo commented on #68
@lfkwtz I really wish I could . That was the first thing I was going to do but the repo is private and I'm invited to work on it. Maybe @eric101110 is in a different situation ??

[2018-08-09 18:43] lfkwtz commented on #68
Gotcha, well I'll keep this issue open for a bit to see if @eric101110 wants to chime in.

Your sample code shows `value={this.state.submitButtonContainer}` -- seems weird based on the name

[2018-08-09 19:44] maroparo commented on #68
Thats some value from redux’s initial state but still I have no idea what it was doing there xD ... anyways I removed it and still nothing changed :(

[2018-08-14 20:40] vretamal opened #69 "placeholderColor error in RN 0.55"
I try to customize the placeholder color, but I get this error:
[code]

My styles are
[code]
Edited

[2018-08-14 21:02] lfkwtz commented on #69
Your style object doesn't have a `placeholderColor` prop. Where are you using the the `placeholderColor` prop?

[2018-08-14 21:10] vretamal commented on #69
Sorry, bad paste.
[code]

[2018-08-15 14:03] lfkwtz commented on #69
Try without the stylesheet

[2018-08-16 13:36] vretamal commented on #69
Without StyleSheet works.
In [example.js:161](https://github.com/lawnstarter/react-native-picker-select/blob/master/example/example.js#L161) you've used StyleSheet, that's confuse me.
Grettings!

[2018-08-17 07:25] YukiOmori opened #70 "Not re-rendered when value is changed via other component"
Hi, thanks for such a nice component.

I have a trouble updating displayed value.

**Background:**
What I actually want to do is to automatically update the component value of prefecture made of react-native-picker-select when the user input a postalcode which automatically evokes postalcode API and get the address JSON object containing prefecture, city, and street.

However, it did not work, tho

[2018-08-17 10:29] lfkwtz commented on #70
Your React version doesn’t align to the correct version of this component. Read the readme.

[2018-08-17 15:31] #70 closed

[2018-08-17 15:31] lfkwtz commented on #69
Good catch, will look into that

[2018-08-19 11:58] lfkwtz commented on #70
You'll have to reproduce the error for me on either expo or in a repo.

Using the code you provided, [it works as expected](https://snack.expo.io/S1VNoAIUQ).

[2018-08-19 13:56] rsoule3 commented on #69
@vretamal - Most likely the issue you are running into is how you had that stylesheet defined.  From all docs I see StyleSheet.create is expecting an object that has values that are also objects.

When you defined `placeholderColor: '#ababab'` this is breaking that pattern and most likely causing the issue, causing the StyleSheet.create call to error.  When the stylesheet would be merged into styl

[2018-08-19 14:05] rsoule3 commented on #68
@maroparo - If you aren't able to get a repo setup / example we can look at, could you add all the styles you're using in this component just so I can see if I can spot any outer styling that may be impacting how the picker is rendering.

I'm particularly interested in your `styles.backgroundImage`, `styles.container`, `styles.formContainer`, `styles.formContainer`

Thanks for any extra info
@eric

[2018-08-28 17:40] FerZablah opened #72 "Drop-down icon disappears on Android"
When setting a backgroundColor for Android, the drop down icon either disappears or it also changes its color to the same backgroundColor, either way making it invisible.
This is the style i'm passing to the style prop on the picker component.
`const pickerstyle = {
  inputAndroid: {
    color: '#494B82',
    backgroundColor: 'white',
    margin: 5
  },
  underline: {
    borderTopWidth: 0
  },

[2018-08-28 20:04] lfkwtz commented on #72
This is an issue with the native Android picker, but not a bug with this component

You have two options here:
1) You _may_ be able to modify the background without losing the arrow via [this method](https://stackoverflow.com/questions/38921492/how-to-style-the-standard-react-native-android-picker/39141949#39141949)
2) You can utilize the headless mode of this component to create an element that i

[2018-08-28 20:04] #72 closed

[2018-08-29 05:11] nguyenvanphuc2203 opened #73 "how to custom font ?"

[2018-08-29 14:45] lfkwtz commented on #73
Android: https://github.com/lawnstarter/react-native-picker-select/issues/30
iOS: Use the fontFamily prop on style objects

[2018-08-29 14:45] #73 closed

[2018-09-09 11:31] nirajhi opened #76 "How to scroll horizontally or have multiline?"
Is it possible to make the horizontal scroll or multiline for the long items on the list?
Thanks.

[2018-09-09 13:04] lfkwtz commented on #76
Probably not, as I've never seen the native pickers support that on either platform. You should ask this question on SO regarding react-native specifically, not this package.

[2018-09-09 13:04] #76 closed

[2018-09-10 16:52] maroparo commented on #68
None from me ... the team decided to proceed with another library. Sorry that I couldn’t help any further. 🙁

[2018-09-12 10:40] fragilehm opened #77 "Cannot read property 'key' of undefined"
I just wanted to try your example, but it gives me this error.

[2018-09-12 14:04] lfkwtz commented on #77
What example? You'll need to give more details and/or share code.

[2018-09-13 02:29] fragilehm commented on #77
Sorry, that was my mistake. I was setting state inside didmount. Closing the issue)

[2018-09-13 02:29] #77 closed

[2018-09-16 21:06] AkezhanOb1 opened #79 "How to remove this shadow effect"
Hello, I have an issue, I can't remove this white shadow
![powyl4zsjgm](https://user-images.githubusercontent.com/31239874/45600913-5907b100-ba26-11e8-9465-e95b30e1cb6f.jpg)

here is my style object
  `const pickerSelectStyles = StyleSheet.create({
    inputIOS: {
        marginHorizontal: 10,
        marginVertical: 5,
        paddingTop: 13,
        paddingHorizontal: 10,
        paddingBottom:

[2018-09-17 00:38] lfkwtz commented on #79
Please use the bug report template

[2018-09-17 00:38] #79 closed

[2018-09-17 04:07] AkezhanOb1 opened #80 "white frames on placeholder text."
**bug**
After changing the color of the input field, an ugly white frame appeared on my inputPlacholder.
![powyl4zsjgm](https://user-images.githubusercontent.com/31239874/45605679-9426d600-ba60-11e8-9c43-3426ef76a65f.jpg)

**My styles are**
`const pickerSelectStyles = StyleSheet.create({`
    `inputIOS: {`
      `  marginHorizontal: 10,`
    `    marginVertical: 5,`
      `  paddingTop: 13,`

[2018-09-17 10:48] lfkwtz commented on #80
Please use the bug report template. When clicking new issue, you are presented with an option that says Bug Report. Choose that and fill it out completely so I can asses this issue.

[2018-09-17 10:48] #80 closed

[2018-09-21 13:59] #69 closed

[2018-09-25 12:47] DenisBogatirov commented on #58
This is still an issue.
@JulianKingman Who does need this logic? https://github.com/lawnstarter/react-native-picker-select/releases/tag/4.0.0

You fire change event which fires re-render with new calue, which fires change event again?

I am trying to use it with Redux-Form and it fires change event with old value

[2018-09-25 21:35] sidraval opened #82 "Programmatically focus picker"
**Is your feature request related to a problem? Please describe.**
I have a form with several fields, a couple text inputs followed by a picker. I'd like to use the 'Next' button on the iOS/Android keyboard to programmatically focus the picker.

**Describe the solution you'd like**
A method that programmatically focuses the picker.

[2018-09-26 11:40] lfkwtz commented on #58
This change occurred via #45 - it's been out for almost 3mo now and there haven't been issues opened aside from this thread - but I'm interested in how this is negatively impacting you.

I just added some more tests locally and i'm not seeing the issue you're describing @DenisBogatirov  - can you reproduce it somewhere?

I could potentially add a flag to disable this...

[2018-09-28 20:03] kdonovan commented on #82
It's apparently undocumented, but have you tried [`togglePicker()`](https://github.com/lawnstarter/react-native-picker-select/blob/master/src/index.js#L185)?

[2018-09-30 17:13] natsuki-yamanaka opened #83 "[Android]Appeared selectedValue text over ordered view below"
**Overview**
Just see screen shot.
SelectedValue text appears over ordered view.  `Select a color...` is that.
This has caused by Picker's behavior changing  from React Native 0.57.0.
In `src/index.js` - `renderAndroidHeadless` , Picker style worked wrong.
I'm sorry, my English is not good.

**Screenshots**
![after](https://user-images.githubusercontent.com/5186470/46259834-e7952b80-c518-11e8-8bf2

[2018-09-30 17:51] lfkwtz commented on #82
@sidraval does `togglePicker` solve your needs on iOS?

For Android, this issue exists on the feature req board as #22

[2018-10-01 06:33] sojimon opened #85 "Style of selected item does not change"
**Describe the bug**
The font size and font color does not changes in android(I need to change the font size and font color).

**To Reproduce**
Steps to reproduce the behavior:

1. npm installed the plugin
2. copy paste the code as shown in example

**Expected behavior**
I need to change the font size and font color.

**Screenshots**

![screen shot 2018-10-01 at 11 58 53 am](https://user-images.gi

[2018-10-01 11:06] lfkwtz commented on #85
See #30

[2018-10-03 20:51] lfkwtz commented on #85
For color -- you can also use the `color` prop with each item -- if you want an easy js-only solution without using the headless mode

`{label: 'Orange',value: 'orange',key: 'orange', color: 'orange'}`

[2018-10-03 20:51] #85 closed

[2018-10-04 12:16] Sashi-Mee opened #86 "[Styling][iOS] Bad positionning of the dropdown arrow"
**Describe the bug**
The arrow for indicating the dropdown is appearing below the line of the text.

**To Reproduce**
Steps to reproduce the behavior:

1.  Implement a React-native-picker-select
2. Have minimal / no style, or copy the one from the example.
3.  Run on iOS simulator (iPhone6, iOS 11.4)
4.  See error

**Expected behavior**
The arrow should be inline with the text.

**Screenshots**
[H

[2018-10-08 00:57] lfkwtz commented on #86
Can you reproduce the issue on snack.expo? Or share the contents of your `ApplicationStyles`?

I was unable to reproduce the issue based on what you shared

https://snack.expo.io/S1zCcX_cX

[2018-10-08 21:24] isener opened #87 "Cannot select any item on headless mod when I upgrade RN to 0.57.2"
When we open the select dialog, even we can't touch anywhere on screen so far.

Here is demo:

![untitled](https://user-images.githubusercontent.com/10687714/46634478-b391ba00-cb59-11e8-9e51-d76c688894ef.gif)

[2018-10-10 05:30] Ratnesh-K opened #89 "Change Icon"
How to change icon with custom icon in picker select and set style to icon

[2018-10-10 13:44] lfkwtz commented on #89
ios or android?

[2018-10-10 14:56] lfkwtz commented on #87
please re-open using the **Bug Report** template

[2018-10-10 14:56] #87 closed

[2018-10-10 21:51] jgfidelis opened #90 "Have props for label style"
the native Picker component has an itemStyle. I want to pass an `textAlign` to the label inside the picker. There could be a way to pass `itemStyle` to `RNPickerSelect` and it can pass it to the native Picker.

Picker doc: https://facebook.github.io/react-native/docs/picker#style

[2018-10-12 19:46] lmichailian commented on #87
@lfkwtz I have the same issue,  It fails with basic impementation like headless example.

[2018-10-13 10:14] Prashant-Mutnale opened #92 "How to style this modal ?"
![screenshot_20181013-154131](https://user-images.githubusercontent.com/21354267/46904235-be07d700-cefe-11e8-8b2d-f66dad82958f.png)

It would really be helpfull to how to style the above model

[2018-10-13 13:00] lfkwtz commented on #92
#30

[2018-10-13 13:00] #92 closed

[2018-10-13 13:31] lfkwtz commented on #82
@sidraval let me know if that solves it so i can close this out

[2018-10-15 01:34] rickysullivan opened #94 "KeyboardAvoidingView triggering"
**Describe the bug**
When using `<KeyboardAvoidingView>`. On iOS, the TextInput, which is used to trigger the picker, is triggering the KeyboardAvoidingView into squashing the view for a split second.

**Steps to reproduce**
Steps to reproduce the behaviour:

1.  Wrap `<RNPickerSelect />` with a `<KeyboardAvoidingView>`
2. Being filling out form, using the keyboard's `Next` key to focus the next T

[2018-10-15 11:37] lfkwtz commented on #87
@lmichailian feel free to open a proper bug report also. thanks.

[2018-10-16 17:46] lmichailian commented on #87
@lfkwtz Oh sorry, I resolved it cleaning build cache

[2018-10-19 21:35] #90 closed

[2018-10-19 21:35] lfkwtz commented on #94
wasn't able to replicate, but added `editable={false}` in #91 --- let me know if that fixes it for you

[2018-10-20 14:27] dengue8830 opened #96 "how to disable underline?"
i used this

[code]
but the underline still there

[2018-10-20 14:29] dengue8830 commented on #96
solved, the underline must be in style attr with a opacity 0 as a hacky hide attr

[code]

[2018-10-21 14:58] weisssean opened #97 "Can you add an onDismiss that fires after selection or done prop?"
I want to pop a dialog when a certain option is selected. There isn't a simple way to do that.
An onDismiss function would really help.

[2018-10-21 15:39] weisssean commented on #97
The main issue is I wanna show another popup with a text prompt and can't do it while the other one is showing.

[2018-10-22 02:07] #96 closed, assigned to nobody

[2018-10-22 03:42] weisssean commented on #97
did, (iOS) I tried it by passing modalProps={onDismiss:()=>{ debugger; }} but it never hit.
Not much documentation either.
Seems like a pretty important function for an api, perhaps you should allow passing it from your component.

[2018-10-22 06:07] ManigandanRaamanathan opened #98 "How to remove clickable option in the placeholder?"
**Describe the bug**
The placeholder in android is clickable and returns null value to the state
**To Reproduce**
Just followed example codes. click on the field to open the selection options. Then click on the header/placeholder and returns nulll. How to disable the clickable?

**Smartphone (please complete the following information):**

-   Device: Android Samsung J7
-   OS: [e.g. iOS8.1]
-   re

[2018-10-22 10:38] lfkwtz commented on #97
Are you using v5?

[2018-10-22 12:02] lfkwtz commented on #96
use `borderTopWidth: 0`

[2018-10-22 15:24] orihero opened #99 "Picker Style on Android"
https://snack.expo.io/@bungler/crabby-cookies

On IOS it works fine but on Android fails.

[2018-10-22 16:16] weisssean commented on #97
I did, (iOS I tried it by passing modalProps={onDismiss:()=>{ debugger; }}
but it never hit.
Not much documentation either.
Seems like a pretty important function for an api, perhaps you should allow
passing it from your component.

On Sun, Oct 21, 2018, 17:23 Michael Lefkowitz <notifications@github.com>
wrote:

[2018-10-22 20:01] weisssean commented on #97
I was using 4.4.0, upgraded to 5 and it works now. Thanks.

[2018-10-22 21:50] #97 closed

[2018-10-23 00:39] sduval215 commented on #99
I was having an issue with this not too long ago, particularly when fixing width, border-radius, border-color and border-width. I managed to get this done by conditionally styling the `viewContainer` that seems to wrap around it.

I still haven't had any luck styling the font sizes though....

[2018-10-23 21:07] luizParreira opened #100 "PlaceholderTextColor not being set"
**Describe the bug**
The `placeholderTextColor` is not being set whenever one wants to set a different placeholder text to the ones you want to display as values. Such as this:

![screen shot 2018-10-23 at 17 58 28](https://user-images.githubusercontent.com/8305710/47390276-5a935b80-d6ed-11e8-9465-fefbc553dcdf.png)

**To Reproduce**

1. Create a `Picker` component
2. Change the `placeholderTextCol

[2018-10-24 02:18] lfkwtz commented on #100
Maybe I'm not understanding the issue here.

See the first use of the component here: https://snack.expo.io/rk1XLLpjQ

I added a placeholderTextColor, the placeholder itself is different from the default, and it works as I'm expecting it to. Are you expecting something different?

[2018-10-24 02:25] #99 closed, assigned to nobody

[2018-10-24 02:32] lfkwtz commented on #98
Not a bug, but I've added it to the feature request board

[2018-10-24 02:32] #98 closed

[2018-10-24 02:33] lfkwtz commented on #89
closing due to inactivity

[2018-10-24 02:33] #89 closed

[2018-10-24 12:55] lfkwtz commented on #100
All good. Glad it was an straightforward answer.

[2018-10-24 13:47] Ratnesh-K commented on #89
android and ios both

[2018-10-24 14:13] lfkwtz commented on #89
ios: `style.icon`
android: you'll probably need to use headless mode. see this comment: https://github.com/lawnstarter/react-native-picker-select/issues/99#issuecomment-432488864

[2018-10-26 19:00] spot1000 opened #102 "Headless component not working as expected on real device"
**Describe the bug**
The wrapped component feature seems to work fine on a simulator, but doesn't work on a real device (tested on pixel 2, and galaxy 9+). in a simulator I'm able to tap on my component wrapped by RNPickerSelect, and the picker comes up, however on a real android device, it doesn't seem to work, or it works, but sporadically, it works on both real and simulated iPhones.

**To Repr

[2018-10-26 19:32] spot1000 commented on #102
So... I feel a little silly... It seems that the newest version of the code (version 5) fixes this issue. or at least on the 1 android device that I just tested it on.

[2018-10-26 21:58] spot1000 commented on #102
Apparently I just got a couple of lucky clicks. I'm still having the same issue after testing a little more extensively.

[2018-10-26 22:43] lfkwtz commented on #102
Can you fix your sample code / provide a working sample?

[2018-10-28 17:04] spot1000 commented on #102
I edited the code a bit, hopefully that proves to be a bit clearer what it was I'm trying to accomplish. I'll try to get a working example up at some point. I did a bit more investigating, and it seems that **having the RNPickerSelect component wrapped in the touchableWithoutFeedback tag** is what's causing it to break on the android device. I removed that tag and it seems to work fine on a real a

[2018-10-29 16:49] luizParreira opened #104 "Add custom `Icon` component as prop"
**Is your feature request related to a problem? Please describe.**
At work, we would like to be able to add a custom icon component to be rendered by the picker select.

**Describe the solution you'd like**
The solution is simple, just add an extra `prop`, called `Icon` to be rendered instead of the current `Icon` used.

**Describe alternatives you've considered**
I couldn't think of any other way

[2018-10-29 17:53] luizParreira opened #106 "Forward picker `ref`"
**Is your feature request related to a problem? Please describe.**
We need to have the reference of the Picker available for our `Form` component. To do that, we need to forward the reference of `RNPickerSelect` to the clients components. That way, we can pass a function that will have access to the picker `ref`.

**Describe the solution you'd like**
Export `React.createRef(...)` as the default pi

[2018-10-31 19:48] rickysullivan commented on #94
Sorry @lfkwtz, been trying to get a project out the door.

I've re-tested using 5.0.1 and it seems to be working nicely.

I'll remove my `setTimeout()` wrappers in my app and see how it goes, but from my initial snack testing, it's all good.

4.4.0|5.0.1
---|---
![picker-flick 4 4 0](https://user-images.githubusercontent.com/437480/47814095-aca14480-ddb1-11e8-8286-3fcb8a1de9b6.gif)|![picker-flick

[2018-10-31 19:48] #94 closed

[2018-11-02 19:05] spot1000 commented on #102
Yeah, seems to be that you just can't have this component wrapped in a touchablewithoutFeedback tag, which you should probably never have to do I think? I think it probably has something to do with the fact that you probably should have touchablewithoutfeedback as a child of a touchablewithoutfeedback parent.

[2018-11-02 19:05] #102 closed

[2018-11-04 13:36] ChandniSharma commented on #30
how to increase it's textInput height and font size also how to give it's background color as I tried but doesn't work any thing.
Please suggest
<Text style={homeStyle.textTitle}>Please select your subCity</Text>
                        <RNPickerSelect
                            placeholder={{
                                label: 'Select subcity',
                                value: null,

[2018-11-08 21:20] #83 closed

[2018-11-09 19:09] lfkwtz commented on #104
Seems reasonable, but heads up you could just do this to achieve that desired look:

[code]

[2018-11-13 20:10] lfkwtz opened #110 "Android headless mode improvements"
Is your feature request related to a problem?
- Touchable opacity for android headless mode appears outside of element

Describe the solution you'd like
- Touchable opacity to properly match child element size

Describe alternatives you've considered
- User can set this manually via style.headlessAndroidPicker (currently on master)

Additional context
- Test if we can automatically pull this from

[2018-11-13 20:12] lfkwtz commented on #54
PR #105 and useNativeAndroidPickerStyle should cover this need. moving to done.

[2018-11-15 06:14] maniyarpayal opened #111 "RNPickerSelect as render item of Flatlist, not able to select picker item."
**Describe the bug**
Use **RNPickerSelect** as renderItem of Flatlist, we can not select any picker value. Once we scroll the picker to select value, it automatically scrolls to top.It works perfectly fine when it is not used as renderItem of Flatlist.

**Expected behavior**
As renderitem of Flatlist, it should allow to select picker value.

**Screenshots**

![bug](https://user-images.githubuserco

[2018-11-15 11:35] maniyarpayal commented on #111
@lfkwtz please check above issue....

[2018-11-15 15:03] lfkwtz commented on #111
Please provide a link to a reproduction of this issue on https://snack.expo.io and/or a code sample showing your implementation of the library

[2018-11-18 11:58] indrsidhu opened #112 "onValueChange Event triggers every time render update"
**Describe the bug**
Picker has function prop "onValueChange" as per expectation it should work like click event, when ever someone select value, but i found this event execute all the time when render() updates, so it creating problem, because it null my state value.

**To Reproduce**
onValueChange = { (value) => console.log("Event Triggered"+value)}
Monitor console, it will execute all the time

[2018-11-18 13:32] lfkwtz commented on #112
Please update your bug report with the missing information

[2018-11-18 14:01] indrsidhu commented on #112
I updated my post

[2018-11-18 14:45] lfkwtz commented on #112
Thanks. I’ll take a look. I assume you meant version 5.1.0?

[2018-11-18 14:53] indrsidhu commented on #112
yes i have latest version

[2018-11-26 17:14] mgcostaParedes opened #113 "When useNativeAndroidPickerStyle={false}, the below area after the Picker gets bugged"
When I use the useNativeAndroidPickerStyle={false}, the area below the <RNPickerSelect> gets Bugged, for example if i click on an empty space from a margin, it will focus the Picker Over the area.

The below code which reproduces the bug is:

`<Text style={{textAlign:"left", fontSize: 13, paddingLeft:5, marginTop:10 }}>Currency</Text>
                    <RNPickerSelect
                        ite

[2018-11-26 19:11] lfkwtz commented on #113
#110

[2018-11-26 19:11] #113 closed

[2018-11-26 23:24] sgolovine opened #114 "[Android]: Picker items do not have a fallback color"
**Describe the bug**

When displaying a picker list on Android, if an item does not have a color it will fallback on colors of other items or render grey if no item has a color assigned to it.

**To Reproduce**
Steps to reproduce the behavior:

1.  Create a project with react-native-picker-select

2. Provide a large data set to render (ie. 50 US States)

3. When opening the picker list on  Android

[2018-11-27 12:46] vikasdosi commented on #112
you can solve by using if condition in on value change

like this
 if(itemValue!=this.state.PickerValueHolder){
this.setState({
                          PickerValueHolder: value,
                        });
                   //your function
}

[2018-11-28 12:12] lfkwtz commented on #111
@maniyarpayal

[2018-11-28 17:08] lfkwtz commented on #114
That's a weird one. Can you put this on snack.expo.io -- just expo.io doesn't let me see the code.

[2018-12-02 06:00] grissproject commented on #111
I've faced the same issue when I assigned an object `{ label:  'orange', value: 'orange' }` to the value prop, I worked for me when I assigned a string instead. I think this is related to https://github.com/lawnstarter/react-native-picker-select/issues/45.

[2018-12-03 22:04] grissproject commented on #87
Cleaning build cache worked for me as well, Thanks a lot!

[2018-12-05 12:31] lfkwtz commented on #104
Closing this active issue as it'll live on the feature request board

[2018-12-05 12:31] #104 closed

[2018-12-05 12:31] lfkwtz commented on #110
Closing this active issue as it'll live on the feature request board

[2018-12-05 12:31] #110 closed

[2018-12-05 12:32] lfkwtz commented on #106
Closing this active issue as it'll live on the feature request board

[2018-12-05 12:32] #106 closed

[2018-12-06 21:52] lfkwtz commented on #114
https://snack.expo.io/@lfkwtz/rn-picker-bug

looks like an issue with the Native picker and not necessarily this library

[2018-12-07 16:22] AndrewAi commented on #112
Hi, When I change the value, the onValuechange fires, but its delayed and the value returned is always one behind. i.e the default value is 'Select a Category' the other values are Music, Poetry, Comedy.
when I pick Music and the onValueChange fires the first time it returns `"null" `, when I pick Poetry it returns `"Music"`. so everytime its one behind, any ideas whas going on am I doing somethin

[2018-12-07 17:16] incorelabs commented on #114
In this case, you need to add color to all the items and then it shows up correctly.

I let the red color be then I added blue color to all the items. That seemed to work perfectly.

[2018-12-07 17:20] #114 closed

[2018-12-09 08:44] davidajnered opened #119 "Add option to set fontFamily for placeholder"
It would be nice to have the option to use a custom font family in the same way you can set the placeholder color.

[2018-12-09 13:07] lfkwtz commented on #112
@indrsidhu please create an example on snack.expo.io or share a github project with your issue -- I have tried to reproduce and I'm not having that issue (https://snack.expo.io/S1O1Q5914)

@AndrewAi please create an example on snack.expo.io or share a github project with your issue --- nothing looks wrong in what you've shared (although I don't know what setEventCategory does.

[2018-12-09 13:11] lfkwtz commented on #111
@grissproject was your implementation also part of a flat list?

[2018-12-09 13:15] lfkwtz commented on #111
@maniyarpayal not able to reproduce (https://snack.expo.io/B1KrrqckN) works fine here.

going to close this out -- @grissproject please open a new issue if you can reproduce the bug you mentioned. thank you.

[2018-12-09 13:15] #111 closed

[2018-12-09 17:18] vikasdosi commented on #112
Yes i think you are setting state and then calling some
Api
Will suggest you should use like that
this.setstate({“your state same”:value},()=>{console.log(this.state.yourstatename)})

[2018-12-09 18:33] AndrewAi commented on #112
Hi thank you for your comments. this is my setEventCategory function `setEventCategory(eventCategory){
        this.setState({eventCategory: eventCategory});
        console.log('setEventCategory: eventCategory: ', this.state.eventCategory)
    }`
very simple. should I be using some onSubmit or onDonePress instead of onValueChange ? Thanks very much

[2018-12-09 18:42] vikasdosi commented on #112
Try this way this will work
setEventCategory(eventCategory){ this.setState({eventCategory: eventCategory},()=>{console.log('setEventCategory: eventCategory: ', this.state.eventCategory) })}

[2018-12-09 18:43] AndrewAi commented on #112
Ok I will thank you, but I wont be able to try it till tomorrow. thanks

[2018-12-10 23:27] quent176 opened #121 "Bug in Android Placeholder"
**Describe the bug**
Only for Android, the value is getting the color of the placeholder randomly. This happens for lists of more than 10 elements.
This bug happens with or without the native androidpickerstyle

**To Reproduce**
Just make a list with many elements and place it in the picker as items.

**Expected behavior**
Only the placeholder can get this color.

**Smartphone (please complete the

[2018-12-11 08:56] Friendly-Robot opened #122 "Picker modal is triggering from a press anywhere on the screen"
**Describe the bug**
Pressing anywhere on the screen (except my TabNavigator) is causing the Selection modal to appear.

**To Reproduce**
[code]

**Expected behavior**
Only open the Selection modal when the Picker element is pressed.

**Smartphone (please complete the following information):**

-   Device: Pixel 2XL
-   OS: Android v9
-   react-native-picker-select version: 5.1.1
-   react-native

[2018-12-11 14:52] lfkwtz commented on #122
Can you attach a snack.expo.io reproduction of the issue?

[2018-12-11 14:53] lfkwtz commented on #121
#114

[2018-12-11 14:53] #121 closed

[2018-12-13 05:11] jriiringan opened #123 "On Close of Picker return on previous input focus"
**Describe the bug**
It does not lose focus of previous input when you open a picker.(I've been trying to figure this thing, might be fall on the question)

**To Reproduce**
Steps to reproduce the behavior:

Open a picker while a keyboard is focused on a certain input.
After the keyboard is closed and a picker is opened, when you selected a certain item and close it
using "done" button it will ret

[2018-12-13 12:10] lfkwtz commented on #123
Can you attach a snack.expo.io reproduction of the issue?

[2018-12-14 00:57] jriiringan commented on #123
here it is https://snack.expo.io/@jriiringan/pickerkeyboard

[2018-12-14 12:14] SunilKrishna1234 opened #124 "Appium Automation is not able to recognize TextField inside the TouchableWithoutFeedback for iOS"
**Describe the bug**
While doing automation to the application using RNPickerSelect, Android UIAutomator is able to identify the textfield inside the TouchableWithoutFeedback but in iOS, iOS inspector is hiding the controls inside the TouchableWithoutFeedback and grouping all the controls to a single object which doesn't serve the purpose.

When I researched about this issue, I got to know that se

[2018-12-17 09:04] pani7 opened #127 "Placeholder problem"
**Describe the bug**
Hi, it says in the placeholder documentation that - An empty object can be used if you'd like to disable the placeholder entirely - but when i set placeholder= {{}} inside jsx, i get a crash saying  - cannot read property label of undefined. So clearly it needs placeholder object to have key for label, and i want not to have placeholder at all because i have default value sele

[2018-12-17 12:02] lfkwtz commented on #127
Please edit your post with the full bug report template filled out

[2018-12-17 13:52] #127 closed

[2018-12-18 12:33] VKravchukEleks commented on #122
Hi @Friendly-Robot. I had the same problem as you. It's weird, but when I pass style for `headlessAndroidContainer` with `backgroundColor` property it's no longer reproducing. Maybe it will help you too.
[code]

[2018-12-19 18:44] mazenchami commented on #22
@lfkwtz do we have an update on this?

[2018-12-19 19:00] lfkwtz commented on #22
No. Same issue exists - using the native Android `Picker` element exposes no API to programmatically trigger the Picker. There may be a hacky way to simulate it - but I haven't thought too much about it.

[2018-12-19 19:43] andercard commented on #122
To solve this problem you should only add the following

`   viewContainer: {
     position: 'relative',
   },
   headlessAndroidPicker: {
     left: 0,
     width: '100%',
     height: '100%',
   },`

He painted the blue background to show what happens with headlessAndroidPicker

https://imgur.com/a/5v6gDnE

[2018-12-19 21:20] lfkwtz commented on #31
out of scope of this library

[2018-12-21 20:50] lfkwtz commented on #119
I'll throw this on the feature request board

[2018-12-21 20:50] #119 closed

[2018-12-21 20:51] lfkwtz commented on #110
Possibly solved by #128

[2018-12-21 20:53] lfkwtz commented on #122
Possibly solved by #128

[2018-12-22 05:14] glenne commented on #112
I'm seeing the same issue but am unable to reproduce via snack.expo.io.  I observed the following sequence:

1. Picker initialized with an initial value, say 'one'
2. Callback occurs via onValueChange and setState invoked with new value, say 'two'
3. getDerivedStateFromProps called in RNPickerSelect.  The nextProps has the prior select value of 'one', state has the value of 'two'.
4. Logic decides

[2018-12-22 05:30] glenne opened #129 "getDerivedStateFromProps always thinks items has changed"
### YOU MUST FILL OUT THE ENTIRE BUG REPORT

**Describe the bug**<br />
getDerivedStateFromProps inserts a placeholder item into the beginning of the list and then sets it into state.  On successive calls, the item list with a placeholder is compared to the props item list to see if there are changes.  Since one list has the placeholder and the other doesn't the logic decides that the list has cha

[2018-12-28 22:40] lfkwtz commented on #123
@jriiringan does #125 solve this for you?

[2019-01-04 02:38] jriiringan commented on #123
#125 solve this issue.

[2019-01-04 13:05] #123 closed

[2019-01-07 02:05] jpandl19 commented on #112
I experienced the exact same issue as @glenne. Removing `nextProps.onValueChange(selectedItem.value, idx)` from `getDerivedStateFromProps` also fixed the problem for me.

[2019-01-09 23:31] lfkwtz commented on #112
@jpandl19 @glenne i'm going to release a version with a prop to disable that. should resolve the issue for now and then we can look into it further in the future.

[2019-01-10 11:08] Rajdeepc opened #132 "placeholder prop doesnt overwrite the setState of 1st item."
**Describe the bug**<br />
placeholder prop doesnt overwrite the setState of 1st item.

**To Reproduce**<br />
1.Place placeholder prop as placeholder={{}}
2.Select 1st item from the dropdown. It wont do setState.
3. If you swipe to second and swipe up to first and then select it will do setState.

-   Device: [e.g. iPhone6]
-   OS: [e.g. iOS8.1]
-   react-native-picker-select version: [e.g. 4.3.0

[2019-01-10 12:16] lfkwtz commented on #132
If there is no placeholder, the first item will not trigger an onValueChange because you have never changed the value. That is intentional and how the native Picker is built.

You should be setting the first item in your array to state as the selected value, because that is what you’re displaying to your users as the selected value.

[2019-01-10 12:16] #132 closed

[2019-01-17 03:15] lfkwtz commented on #129
Thanks @glenne - good catch

[2019-01-22 18:15] kamvoick opened #136 "Is there any option to change "Done" button text on iOS?"
How can i change "Done" button text on iOS? Let's say i want it to be localizable by providing my own translation

Thanks

[2019-01-23 07:48] Anshu8405 opened #137 "onClose and onOpen events are not firing when trying to open dropdown"
### YOU MUST FILL OUT THE ENTIRE BUG REPORT

**Describe the bug**<br />
A clear and concise description of what the bug is.

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  Go to '...'
2.  Click on '....'
3.  Scroll down to '....'
4.  See error

**Expected behavior**<br />
A clear and concise description of what you expected to happen.

**Screenshots**<br />
If applicable, add screens

[2019-01-23 10:38] maharjanaman opened #138 "Can we remove placeholder text from modal?"
Can we remove placeholder text from modal?

[2019-01-23 12:04] #137 closed

[2019-01-23 12:05] lfkwtz commented on #138
‘placeholder={{}}’

[2019-01-23 12:05] #138 closed

[2019-01-23 12:16] Anshu8405 commented on #137
Here is my dropdown related code.Not able to see console messages.

`<RNPickerSelect
        hideDoneBar={false}
        placeholder={{ label: 'All', value: 'All' }}
        placeholderTextColor={'black'}
        items={this.state.List}
        onValueChange={(value) => {
            this.setState({
                selectedOption: value,
            });
        }}
        style={{
            ...p

[2019-01-23 12:49] lfkwtz commented on #137
You need to fill out the entire bug report. Just like it says on it.

[2019-01-23 12:53] lfkwtz commented on #138
If you want to remove the placeholder from JUST the modal - you could possibly dynamically update the value onOpen for iOS.

Also see #98

[2019-01-25 23:33] lfkwtz commented on #122
@Friendly-Robot @VKravchukEleks @apolineaire - can you check if v5.2.3 fixes the issue?

[2019-01-30 15:11] kaantyy commented on #138
It doesn't works... both iOS and Android saying:

TypeError: undefined is not an object (evaluating 'this.state.selectedItem.label')
This error is located at:
in RNPickerSelect (etc...)

[2019-01-30 15:55] lfkwtz commented on #138
works fine on the sample app https://snack.expo.io/@lfkwtz/react-native-picker-select

feel free to open a full bug report if you see otherwise

[2019-01-30 17:37] lfkwtz commented on #124
Want to open a PR for this?

[2019-01-30 22:09] johanquiroga opened #140 "TypeError: In this environment the sources for assign MUST be an object. This error is a performance optimization and not spec compliant."
**Describe the bug**<br />
When either one of `item` or `value` changes the component re-renders and the method `getDerivedStateFromProps` runs. In this method at the return the following validation is made:

[code]

This form of validation is causing me the following error:
![screenshot_20190130-165252_punga](https://user-images.githubusercontent.com/22845267/52015574-4f9c5400-24b0-11e9-8826-658b

[2019-01-30 22:38] #140 closed

[2019-01-31 23:17] zaytrix opened #141 "On Android, onValueChange is triggered on render when an item has a value of empty string"
**Describe the bug**<br />
`onValueChange` triggers immediately upon render, without having made any change.
This only occurs on Android, with react-native-picker-select v5.2.3 and above

**To Reproduce**<br />
In the `items` array passed to `RNPickerSelect`, if one of the items has a value of empty string, then `onValueChange` will trigger immediately upon render.

items array example for trigger

[2019-02-01 03:00] lfkwtz commented on #141
Hey @zaytrix - thanks for the bug report. Having an empty items array is definitely an edge case I never considered.

Do you mind finishing the full bug report, especially including a code sample and/or expo.io reproduction

[2019-02-05 10:21] JPStrydom opened #142 "Toggling Dropdown Exits Android Fullscreen"
**Bug Description**<br />
We're using the latest version of this package with React Native v0.55.3 along with [react-native-media-suite](https://www.npmjs.com/package/react-native-media-suite) v0.2.8. The media suite package allows one to switch Android into fullscreen mode (i.e. hiding the Android bottom controls and the Android top status bar) by using their `this.videoRef.presentFullscreenPlaye

[2019-02-05 10:45] lfkwtz commented on #142
Need a code sample or reproduction. Please follow the template.

[2019-02-05 11:43] JPStrydom commented on #142
A basic example will look something like this:
[code]
Pressing the dropdown will take the device out of fullscreen mode.

[2019-02-05 12:04] lfkwtz commented on #142
Thanks -- have you tried inserting the native `Picker` in place of this component to see if it still occurs?

[2019-02-05 18:13] santanapaulo commented on #112
I am having the same issue.

Every time I re-render my screen, the onValueChange gets triggered with value **null**. Any updates about fixing it?

I guess the right behavior is RNPickerSelect should NOT trigger the onValueChange function on render function.

[2019-02-05 18:22] lfkwtz commented on #112
@santanapaulo does [this branch](https://github.com/lawnstarter/react-native-picker-select/tree/controlled-component) solve your issue?

[2019-02-06 01:56] zaytrix commented on #141
Update!
I was finally able to create a snack that reproduces this issue. As it turns out, it did not have to do with an empty array, but instead with a value of empty string, as I've now explained above.
I've also figured out that it was a change in 5.2.3 that caused this issue to occur.
I hope this helps!

[2019-02-06 11:42] #122 closed

[2019-02-06 14:29] lfkwtz commented on #141
How bizarre - looks like the culprit was `left: 0` when using the headless mode -- which isn't needed anyways.

Verify that #144 fixes it for you and i'll merge it in.

There are some [upstream](https://github.com/facebook/react-native/pull/22821) picker issues on Android that have been fixed recently - this one may be related.

[2019-02-06 20:22] dakairus opened #145 "input text alignment"
I got an app for Android and IOS with React Native that requires the picker to align text to the right.

I tried with fontAlign, but errors that is not a valid property, I tried with textAlign, but warns that is not a valid property.

[2019-02-06 21:05] lfkwtz commented on #145
`style.inputAndroid` and/or `style.inputIOS` and `textAlign: right` works
android must be in `useNativeAndroidPickerStyle={false}`

not sure if you can modify text alignment on a native android picker element - you'll have to google that

[2019-02-06 21:05] #145 closed

[2019-02-07 08:53] dakairus commented on #145
thanks @lfkwtz that worked, but for some reason in Android a underline appeared, but setting the style for underline to opacity 0 or passing the pickerProps underlineColorAndroid = 'transparent' doesn't work, any clues?

[2019-02-07 10:18] dakairus commented on #145
Hey @lfkwtz I just figured out that the underline that appears if because the React Native default text input underline for android. Usually goes away with:
[code]
as a property of textInput, I was trying to pass this through the textInputProps, but for some reason is cleared before reach the component. I ran a local copy of the component and adding the previously mentioned field makes the underli

[2019-02-07 14:58] JPStrydom commented on #142
So I couldn't get the behaviour to replicate using the native picker, but I noticed that the previous version of `react-native-picker-select` that we had installed (`4.1.0`) did not have this issue. Maybe something changed between v4 and v5 that would cause this?

[2019-02-07 20:26] #141 closed

[2019-02-07 23:49] lfkwtz commented on #142
Can you create a reproduction of the issue via snack.expo.io ?

[2019-02-08 08:51] JPStrydom commented on #142
The media suite requires native code changes, so I don't think it'll run on expo?

[2019-02-08 11:37] lfkwtz commented on #142
Ah, those dropdowns on the readme hid that from me on quick glance

[2019-02-12 10:20] ionut-movila commented on #127
This is still a problem and the original description is quite accurate.

@lfkwtz Can you please re-open this?

[2019-02-12 10:44] lfkwtz commented on #127
It didn’t follow the template so it won’t be reopened. Feel free to open a new one though. Thanks.

[2019-02-13 00:44] caioedut opened #146 "onValueChange parameter value is wrong"
When I change the value once, the parameter value in onValueChange be right.
But when I change again, the parameter gives the previous selected value.

Eg:
Rendered with null value.
I changed to 1.
Then I get 1 in parameter.
Then, I changed again to 2.
Now the parameter gives 1 (instead of 2).
Then, I changed again to 3.
Now the parameter gives 2 (instead of 3).

[2019-02-13 00:52] lfkwtz commented on #146
Please don’t ignore the bug report template. It exists for a reason.

[2019-02-13 00:52] #146 closed

[2019-02-13 01:19] lfkwtz commented on #146
Please don’t ignore the bug report template. Feel free to reopen or edit following the template.

[2019-02-15 15:16] codazzo commented on #112
I was experiencing this in the iOS simulator. Disabling Hot Reloading from the Inspector seems to have fixed this in my case.

[2019-02-17 05:06] maharjanaman commented on #138
From sample app, is there way to show text on text input field but not on modal? Sorry for making this so confusing.

[2019-02-17 15:48] lfkwtz commented on #138
@maharjanaman

If you want to remove the placeholder from JUST the modal - you could possibly dynamically update the value onOpen for iOS.

Also see #98

[2019-02-19 02:17] lfkwtz commented on #142
Can you create a sample repo where the problem exists that I can clone down and debug?

[2019-02-23 05:06] DevonTomatoSandwich opened #148 "Using subscripts or superscripts in picker items"
**Is your feature request related to a problem? Please describe.**
Thanks for making a great component! I'd like to add subscripts or superscripts in my picker. At the moment i think you can only put strings into each picker option.

**Describe the solution you'd like**
Would be great if you could put Views into each picker item so i could add subscript styling to my strings

**Describe alternativ

[2019-02-23 12:29] lfkwtz commented on #148
if that's a limitation, it's a limitation of the native Picker component and not something this library would be able to override.

you may be able to get away with what you're attempting using ascii though
https://lingojam.com/SuperscriptGenerator

[2019-02-23 12:29] #148 closed

[2019-02-23 12:33] DevonTomatoSandwich commented on #148
That SuperscriptGenerator should work for now.
Thanks !

[2019-02-25 05:28] ylac opened #149 "Selecting the placeholder item causes a crash/duplicate placeholder items"
**Describe the bug**<br />
The app crashes if you select the placeholder item after selecting another item.

This occurs regardless of whether a placeholder is provided.

Adding an item object with `value: null` results in duplicate placeholder items appearing in the dropdown.

**To Reproduce**<br />
### Crash
1.  Select a non-placeholder item
2.  Select the placeholder item
3.  See error: `TypeEr

[2019-02-25 12:21] lfkwtz commented on #149
So you’re passing a placeholder in to the items array?

[2019-02-25 14:40] idoor88 opened #150 "How to show label, but value selected when done"
I want to show the labels like Alabama when click select a state, but when I select the label Alabama, the value AL is selected in the field, the following is not working:

I have data items like this:
{
      label: "Alabama",
      value: "AL",
  },
  {
      label: "Alaska",
      value: "AK"
  },
and placeholder:
const placeholder2 = {
    label: 'Select a state...',
    value: null,
    color

[2019-02-25 15:26] lfkwtz commented on #150
Hi @idoor88 - this question sounds more appropriate for stack overflow

[2019-02-25 15:26] #150 closed

[2019-02-25 16:18] JPStrydom commented on #142
I'll see what I can do 👍

[2019-02-25 17:53] idoor88 opened #151 "Bug: value={this.state.gender} does not reflect gender from onValueChange"
In following case, when Male or Female selected, the value passed in onValueChange is M or F, and it is set to state correctly by this.setState({gender:value}); but the value={this.state.gender} shows Male or Female, not M or F:

const placeholder = {
    label: 'Select a gender...',
    value: null,
    color: '#9EA0A4',
};
const genders = [
    {
        id: 1,
        label: 'Male',
        val

[2019-02-25 18:15] lfkwtz commented on #151
can you reproduce this on snack.expo.io?

[2019-02-25 19:43] idoor88 commented on #151
here is the link I can reproduce it, the field is showing Male, not M:
https://appetize.io/embed/8bnmakzrptf1hv9dq7v7bnteem?autoplay=false&debug=true&device=iphone6s&deviceColor=black&embed=true&orientation=portrait&screenOnly=false&xDocMsg=true&xdocMsg=true&params=%7B%22EXKernelLaunchUrlDefaultsKey%22:%22exp:%2F%2Fexpo.io%2F@snack%2Fsdk.32.0.0-aiTN0qJhV%22,%22EXKernelDisableNuxDefaultsKey%22:true

[2019-02-25 19:53] lfkwtz commented on #151
maybe i'm not understanding. you're setting the `value` to be `M`. if you want the `value` to be `Male`, set it to `Male`.

[2019-02-25 19:56] idoor88 commented on #151
I want the value shown in the field is M, and also the gender in the state is M, they should be the same, right now they are not the same, it is shown in the field as Male, but the this.state.gender is actually M, I want the shown value reflect the actual state.gender.

[2019-02-25 20:03] lfkwtz commented on #151
you need to set the `label` to be M then. this is not a bug - stack overflow is a more appropriate place for this question.

[2019-02-25 20:03] #151 closed

[2019-02-25 20:33] idoor88 commented on #151
The label and the value have to be the same?

[2019-02-25 21:48] ylac commented on #149
If I use the placeholder prop, and select a non-placeholder item, then the placeholder item, I trigger an exception as described above.

[2019-02-25 22:47] lfkwtz commented on #149
Can you produce a reproduction on snack.expo.io?

[2019-02-26 15:11] gogumai opened #152 "Hi!"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-02-26 15:11] gogumai opened #153 "Picker title"
Hi @lfkwtz !

Is there a way to have a title in the Done bar?

Like this:

![image](https://user-images.githubusercontent.com/16405232/53423285-dbc26e00-39bf-11e9-8790-64133e272afd.png)

Are you planning on adding that? Thanks!

[2019-02-26 15:12] #152 closed

[2019-02-26 15:38] francoSimeone commented on #153
@gogumai maybe an option could be changing the 'Done' styles to show that text as your title.

![image](https://user-images.githubusercontent.com/17005927/53425203-5a6cda80-39c3-11e9-903e-203908a3efa6.png)

[2019-02-26 15:43] lfkwtz commented on #153
@francoSimeone is right. you could change the "Done" text and styles easily enough to match that.

[2019-02-26 15:43] #153 closed

[2019-02-26 17:14] gogumai commented on #153
ok @lfkwtz, but the DONE and the title would have 2 different purposes right?

Are you up to accept a contribution/PR for adding this feature?

[2019-02-26 17:59] lfkwtz commented on #153
yeah doing this would basically be replacing the DONE text with your custom needs.

unfortunately i'm not interested in opening up that space for another element or component, as that breaks the original intention of this component which is to replicate the native picker.

if you need to modify the modal to that level, you'd be better off forking the project to meet your needs

[2019-02-27 03:25] joeyscarim commented on #150
check out this example: https://github.com/lawnstarter/react-native-picker-select/issues/102

I had the same question as this example helped me solve it

cheers

[2019-02-27 07:53] karajaNaji opened #154 "I am trying to change the style of Picker Item on both ios and andriod but with no luck."
I am trying to change the style of Picker Item on both ios and andriod but with no luck. sample of the code I use

 textStyle={{ color: "#5cb85c" }}
 itemStyle={{
                        backgroundColor: "#d3d3d3",
                        marginLeft: 0,
                        paddingLeft: 10
                      }}
 itemTextStyle={{ color: '#788ad2' }}

-   Device: [e.g. Note5]

-   react-native

[2019-02-27 10:14] lfkwtz commented on #154
This question belongs on stackoverflow

[2019-02-27 10:14] #154 closed

[2019-03-05 16:31] alandoni opened #157 "Items and/or the placeholder not displaying in the picker"
### YOU MUST FILL OUT THE ENTIRE BUG REPORT

**Describe the bug**<br />
I am unable to correctly display the items or the placeholder in the picker

**To Reproduce**<br />
I  added this code:
`<RNPickerSelect
        placeholder={{label: 'Selecione um produto', value: null}}
        style={pickerStyle}
        selectedValue={this.state.product.categoryId}
        onValueChange={this.setCategory}

[2019-03-05 18:00] lfkwtz commented on #157
from what i can see, your font color is white and your background is white

[2019-03-05 20:06] lfkwtz commented on #149
@ylac

[2019-03-05 20:07] lfkwtz commented on #124
going to close this out - feel free to open a pr

[2019-03-05 20:07] #124 closed

[2019-03-05 22:41] ylac commented on #149
Can't repro, closing thanks.

[2019-03-05 22:41] #149 closed

[2019-03-06 04:43] gluons commented on #138
@lfkwtz I face the same error as @kaantyy.

See https://snack.expo.io/@illuminator/react-native-picker-select-|-placeholder-problem

[2019-03-06 12:31] lfkwtz commented on #138
@gluons you're initializing with an empty `items` array. This is not currently supported.

Feel free to open a feature request ticket (and submit a PR if you want to).

[2019-03-07 09:45] Green-loutre opened #158 "Label with icon"
**Is your feature request related to a problem? Please describe.**

No

**Describe the solution you'd like**

It would be amazing to be able to pass an Icon (and/or Image) for the label to be displayed with a string or to display the Icon(and/or Image) only (I really need both use cases)
Thank you!

[2019-03-07 15:32] lfkwtz commented on #158
- If you want this to appear when the picker is actually open, that can't be done as the native picker elements just accept a string
- If you want this to appear in the TextInput itself **after** something has been selected, that would be challenging because the TextInput also expects strings. What you could possibly do is utilize the Icon prop (or just create an absolute positioned element outsid

[2019-03-07 15:32] #158 closed

[2019-03-07 18:08] srhtylmz19 opened #159 "onRequestClose is marked as required in Modal"
onRequestClose is marked as required in Modal but it's value is undefined

[2019-03-07 18:30] lfkwtz commented on #159
required for android - not used on android

[2019-03-07 18:30] #159 closed

[2019-03-07 21:06] jakebloom opened #160 "Replace chevrons with "Cancel" text"
**Is your feature request related to a problem? Please describe.**
At the moment we are required to have chevrons on the left hand side of the done bar, or get rid of the done bar totally.

**Describe the solution you'd like**
I'd like to have an option of having a "Cancel" button there that closes the picker, similar to how the date selector is implemented in iOS.

Maybe we could have a prop, sim

[2019-03-08 09:09] gluons opened #161 "[Feature Request] Support empty items array"
**Is your feature request related to a problem? Please describe.**

[Problem here](https://github.com/lawnstarter/react-native-picker-select/issues/138#issuecomment-469966354).

@lfkwtz:

<br>

As @lfkwtz said, I can't initialize `items` with empty array now.

**Describe the solution you'd like**

Able to initialize `items` with empty array without error.

**Describe alternatives you've considered

[2019-03-08 09:09] gluons commented on #138
@lfkwtz OK. I create #161.

[2019-03-08 11:07] Green-loutre commented on #158
Thank you a lot for your answer :)

[2019-03-11 18:01] lfkwtz commented on #161
added to feature request board

[2019-03-11 18:01] #161 closed

[2019-03-11 18:01] lfkwtz commented on #157
gunna close this out. let me know if that didn't solve it

[2019-03-11 18:01] #157 closed

[2019-03-11 18:02] lfkwtz commented on #142
gunna close this out -- i'll reopen if you send me a sample repo.

[2019-03-11 18:02] #142 closed

[2019-03-11 18:16] lfkwtz commented on #119
moved to todo if the implementation is done as mentioned in this comment: https://github.com/lawnstarter/react-native-picker-select/pull/155#issuecomment-469028508

[2019-03-13 16:28] YoshiYo commented on #112
I don't know why, but I fixed the extra render when I removed the props. `itemKey`.

[2019-03-13 17:40] lfkwtz commented on #112
Happy to look into this further if someone can provide a working demo that clearly identifies the issue

[2019-03-14 03:22] echavezNS commented on #112
It happened for me whenever I `setState` inside a promise on `onValueChange`:

Example:

[code]

Whenever I change the value of the picker one time, the function `handleStateChange` is triggered twice.

![image](https://user-images.githubusercontent.com/17257421/54329134-b2176280-45cd-11e9-9ff7-ec37e46ac5da.png)

[2019-03-14 15:33] sboudouk commented on #154
Seriously ? lol.

[2019-03-14 17:34] lfkwtz commented on #154
Not sure who that's directed to, but it adds nothing of value

[2019-03-20 12:06] sinodko commented on #22
any update on this? It would be great to make it work!

[2019-03-20 13:27] sinodko opened #163 "Android always dropdown mode"
Hello, I'm encountering weird issue. In your examples there is always "modal" mode of picker ( when I run examples from expo on my Xiaomi mi 8, I'm getting modal mode),  but when I copy/paste examples into my app, on android I always get "dropdown" mode picker. Even if I set prop `{pickerProps: {mode: "modal"}}` it is not doing anything and I'm always getting dropdown type of picker.

Is this norm

[2019-03-20 14:43] lfkwtz commented on #163
there is no `mode: "modal"` - it's either `dialog` or `dropdown` --- can you clarify which isn't working as expected?

[2019-03-20 15:28] sinodko commented on #163
I meant `mode: "dialog"`,, sorry for that.. I would expect to get modal window, not dropdown menu when i open the picker. Even when I'm running example from expo, when I open the picker, modal is shown. But in my app, it always open picker items in dropdown instead of modal.

[2019-03-20 15:32] lfkwtz commented on #163
Not sure. Can you update your original message to use the bug template?

And include a link to a github repo where this problem can easily be reproduced on an android device

[2019-03-20 16:53] lfkwtz commented on #22
I haven't looked into it recently. Open to prs.

[2019-03-20 18:11] sinodko commented on #163
Yep i will update it tomorow :) thanks for following up!

[2019-03-21 13:22] lfkwtz commented on #163
Also - have you verified the issue occurs only on this package and not also on the native RN Picker?

[2019-03-26 04:15] helielson opened #164 "Add support to caption"
**Is your feature request related to a problem? Please describe.**
No. The layout I'm developing defines a picker with a caption that looks like a [InputAccessoryView](https://facebook.github.io/react-native/docs/inputaccessoryview)

**Describe the solution you'd like**
A prop like `caption` in order to render a custom text between the arrows and the done button.

**Describe alternatives you've co

[2019-03-26 08:01] sinodko commented on #163
My problem is related to this issue https://github.com/facebook/react-native/issues/24055

[2019-03-26 11:42] lfkwtz commented on #163
Good find on the upstream issue. This is precisely why we always stay [one major version behind](https://medium.com/lawnstarter-engineering/react-native-one-year-later-what-weve-learned-c23dc13cec80).

[2019-03-26 11:42] #163 closed

[2019-03-27 19:23] lfkwtz commented on #160
Sounds reasonable -- Ideally I'd like a solution so this and #164 can be solved in one universal/flexible way.

[2019-04-10 15:09] maykonmichel opened #166 "Add support to initial index or value props"
**Is your feature request related to a problem? Please describe.**
No. I'm just trying to set initial props.

**Describe the solution you'd like**
Add two news props: initialIndex and intialProps.

**Describe alternatives you've considered**
Sync prop value of lib's state with the state of my component, but this it's so hard to implement.

[2019-04-10 15:36] lfkwtz commented on #166
if you set the `value` prop to the value of one of your picker items, it will handle this as is. is that not working for you?

[2019-04-10 17:20] tjbenton opened #168 "run after interactions"
This is related to your [todo comment](https://github.com/lawnstarter/react-native-picker-select/blob/master/src/index.js#L171) about running callbacks after animations. It's just a suggestion since i saw it while looking through the code.

Easiest way to do something after animations is to use the built in [`InteractionManager`](https://facebook.github.io/react-native/docs/interactionmanager#docs

[2019-04-10 19:39] webmasterdragon commented on #57
How can I style fontSize for placeholder and item?

[2019-04-10 19:44] lfkwtz commented on #57
the docs / examples should help answer that question for you. otherwise, styling questions are more appropriate for stackoverflow.

[2019-04-10 19:44] #166 closed

[2019-04-19 04:34] bosz opened #169 "Multiple items highlighted/grey after 2nd + attempt to select"
### YOU MUST FILL OUT THE ENTIRE BUG REPORT

**Describe the bug**<br />
After the second attempt to select an item, when the item is clicked and i come back to open up the picker, it shows the current item selected(grey) which is ok but then shows about 2-4 other items selected(grey-ed out). This creates a lot of confusion with the user as they won't know which is actually selected/active

**To Re

[2019-04-19 15:13] lfkwtz commented on #169
without looking into this - my assumption is it's related to #114

[2019-04-19 16:50] bosz commented on #169
@lfkwtz  is right, that's the same issue. Thanks for pointing it out to me.

To solve it, i just had to add a color attribute to each of the objects like so
[code]

Thanks again for the pointer.

[2019-04-19 16:50] #169 closed

[2019-04-19 16:50] bosz commented on #169
BTW, great plugin here, its really helping me.

[2019-04-19 17:47] lfkwtz commented on #169
no problem - glad it's helping you.

IIRC the last time I looked for an upstream issue on this one in the react-native repo I couldn't find one, but I had forgotten to create one. so -- you may want to open one up.

[2019-04-23 10:09] KoAi commented on #164
Caption option is a very good idea

[2019-04-23 13:29] abdelwehed opened #170 "onDonePress on IOS emulator (iPhone X)"
Hello,

I trying to add onDonePress to my picker on IOS but the callback is not triggered.
Any one is having same issue ?

Thank you :)

[2019-04-23 14:44] lfkwtz commented on #170
please edit this and use the bug report template

[2019-04-23 14:44] #170 closed

[2019-04-23 14:50] abdelwehed opened #171 "onDonePress on IOS emulator"
**Describe the bug**<br />
Hello,

I trying to add onDonePress to my picker on IOS but the callback is not triggered.
Any one is having same issue ?

Thank you :).

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  Add onDonePress props to the picker
2.  Open the picker and click done

**Expected behavior**<br />
onDonePress triggered.

**Smartphone (please complete the following inform

[2019-04-23 14:56] lfkwtz commented on #171
Provide a link to a reproduction of this issue on https://snack.expo.io **or a good explanation on why you can not**. Not including a link will result in a significant delay in our ability to address this issue.

[2019-04-23 14:56] #171 closed

[2019-04-24 11:29] maharjanaman opened #172 "Can we start picker from somewhere middle of items array?"
If I added a list of years starting from 1900 to 2100, and if I want to start picker from 2000, is this use case possible?

[2019-04-25 13:22] abdelwehed opened #174 "onDonePress on IOS simulator"
**Describe the bug**<br />
I am trying to add onDonePress to my picker on IOS but it is not triggered.

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  Add onDonePress prop to the picker
2.  Open the picker and click done

**Expected behavior**<br />
onDonePress triggered (for my code sample it should display the console log).

**Smartphone (please complete the following information):

[2019-04-25 14:06] lfkwtz commented on #174
https://github.com/lawnstarter/react-native-picker-select/releases/tag/4.3.0

[2019-04-25 14:06] #174 closed

[2019-04-25 14:44] lfkwtz commented on #172
using headless mode, you could possibly set a default value and hide it until the picker has been interacted with -- at which point you could also reset it.

or not use headless and have the text color on 2000 match the background so it looks white?

definitely no "built-in" ways of handling this, but i'm sure you could come up with a creative way to handle it. may be more appropriate of a questio

[2019-04-25 14:44] #172 closed

[2019-05-02 11:46] nageshjawanjal commented on #29
How to change item font size?

[2019-05-04 15:23] SimonDrew2018 commented on #151
@idoor88 did you ever resolve this?
I have the same issue.

I have a list of currencies for example:
value: GBP
label: Great British Pound
value: USD
label: United State Dollars

In the picker I show the label which is correct, however when I select the label in the picker I then want it to display the actual value (GBP / USD... NOT Great British Pound).

In the docs under Value it says:

Not sure

[2019-05-04 16:01] SimonDrew2018 commented on #151
@idoor88 & @lfkwtz further to my above comment I made a change in react-native-picker-select index.js which will resolve the issue. (If it is an issue?)

line 378 which renders the TextInput:
change: `value={this.state.selectedItem.label}`
to: `value={this.state.selectedItem.value}`

Hope this helps some people.
Thanks.

[2019-05-06 11:46] lfkwtz commented on #151
The value will never be displayed to the end user. Whatever you want the end user to see belongs in the label field.

[2019-05-06 14:24] mikerodham commented on #82
Just to confirm, yes `this.refs['picker'].togglePicker()` worked.

[2019-05-09 05:10] jgrocott commented on #168
@tjbenton Full credit to you sir for the suggestions above. PR created with callback solution. InteractionManager was a little inconsistent for me on iOS. Callbacks seem to be solid.

[2019-05-09 17:26] shanekoss commented on #112
@EyMaddis  fork fixed this issue for me.

https://github.com/simpleTechs/react-native-picker-select/commit/e70f4b34c7cebeb8f322524a8f262f08e9c0cc3a

Could this get merged?

My problem was anytime the value was changed elsewhere, the callback was still called.

Fixed for now.

[2019-05-10 09:19] dextermb opened #178 "Placeholder does not seem to update even if objects are different"
### YOU MUST FILL OUT THE ENTIRE BUG REPORT

**Describe the bug**<br />
I seem to be having issues with updating the placeholder after the component is mounted.

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  Have a managed loading state
2.  Set input to be loading
3.  Have a ternary to switch between placeholders
4.  See error

**Expected behavior**<br />
The placeholder should upda

[2019-05-15 07:17] dextermb commented on #178
After investigating the issue it seems to be down to the input not having a `string` value. But once the placeholder updates (value of `null`) then it fires an `onValueChange` that then clears the `string` value.

I think there should be a prop or similar to disable resetting of the value if the new selected item's value is `null`.

[2019-05-15 14:41] lfkwtz commented on #178
Why not just have the ternary switch between an empty string and “Loading”?

On mobile and just taking a quick glance at this - so I may have missed something.

[2019-05-15 14:51] dextermb commented on #178
Just an example to show that the placeholder object is completely different. This is not how it is in practice.

[2019-05-15 14:51] dextermb commented on #178
I wasn't aware that it should just be a string? I assume it'd still have the same issue though.

[2019-05-15 15:09] lfkwtz commented on #178
The placeholder prop expects and empty object or an object in the proper format. You’re passing in null instead - not sure how that’s going to react.

[2019-05-15 16:03] dextermb commented on #178
Interesting. I'm passing in the value `null` as seen by the default placeholder. I can change that.

[2019-05-16 06:27] lfkwtz commented on #178
i mean

[code]

or

[code]

are correct.

[code]

^ this may break something. Also - can you fill out the entire bug report? You left off the versions.

[2019-05-16 06:34] dextermb commented on #178
The placeholder of _null_ becomes `placeholder={null}` which I assume is the same as not passing anything. As mentioned the _null_ is just to show that there's no pointers between the changing placeholder.

This is what is currently being done.

---

I'll update the report to include versions.

[2019-05-19 05:59] Ektasahusahu opened #179 "How to remove placeholder and there space also"
Right now i am passing blank in place holder but it's take a row space  but i want to remove placeholder row also please help me.

Thanks.

[2019-05-19 06:43] #179 closed

[2019-05-20 11:54] JaWoGit commented on #160
Is there any possibility to add this in the near future? I would love to use this in my application.
This would be awesome!
Cheers 👍

[2019-05-23 17:01] Achilles718611 opened #180 "onValueChange is called many times."
Following is code.
onValueChange={value => {
            this.setState({
              favSport0: value,
            });
          }}

When we change value in iOS, onValueChange is called many times and app is crashed.

![image](https://user-images.githubusercontent.com/31845458/58271846-8f6cab80-7dbf-11e9-9ba3-1c6c2b939e9e.png)

When select value first time it works, but from second time it doesn

[2019-05-23 17:22] lfkwtz commented on #180
update with the proper bug template

[2019-05-23 17:22] #180 closed

[2019-05-23 17:39] Achilles718611 commented on #112
![image](https://user-images.githubusercontent.com/31845458/58274120-c42f3180-7dc4-11e9-8131-1c961cd41d87.png)

How about change order of two lines?

[2019-05-23 17:46] Achilles718611 commented on #180
Hello, how are you?
Nice to meet you.
How about change code like followings?
this.setState({
    selectedItem: this.state.items[index],
}, () => onValueChange(value, index));

Thanks for your time.

On Fri, May 24, 2019 at 1:22 AM Michael Lefkowitz <notifications@github.com>
wrote:

[2019-05-24 08:40] dextermb commented on #178
[code]

Seemingly setting `placeholder` as a string crashes the app.
[code]

[2019-05-24 16:18] lfkwtz commented on #178
I’m sure it does - it expects an object.

So the ternary of “Loading” to “” didn’t work?

[2019-05-24 17:24] lfkwtz commented on #178
I'll look into this and get back to you

[2019-05-24 17:25] lfkwtz commented on #160
@JaWoGit if you have suggestions and/or a PR on how we could combine this and #164 into one feature i'm open to them

[2019-05-24 17:28] lfkwtz commented on #160
closing for now as this will live in the feat. req board

[2019-05-24 17:28] #160 closed

[2019-05-24 17:28] lfkwtz commented on #164
closing for now as this will live in the feat. req board

[2019-05-24 17:28] #164 closed

[2019-05-25 15:34] lfkwtz commented on #178
Related to #112 - placeholder won't update because it's the currently selected value and `selectedItemChanged` doesn't fire in this instance. Would be fixed if this is made into a controlled component - or could potentially be specialcased.

[2019-05-29 05:36] ravindraguptainfogain opened #181 "No option to remove/hide arrow buttons."
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-05-29 13:04] lfkwtz commented on #181
Use css and match the background color

[2019-05-29 13:04] #181 closed

[2019-05-30 04:38] yadav-durgesh opened #182 "After a specific height the color of value of drop down is greyed and sometime those value can't be selected."
### After a specific height the color of the value of dropdown is greyed and sometime those value can't be selected.

**Describe the bug**<br />
Random value are grey in color (Height specific may be). and those value sometimes doesn't get selected

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  Go to 'https://snack.expo.io/@durgesh199/react-native-picker-select'
2.  Click on 'In and

[2019-05-31 08:01] ravindraguptainfogain commented on #181
This does not seem to be the fix, rather a work around. Can you please introduce an option to conditionally render arrow buttons.

[2019-06-03 07:56] fimkap opened #183 "Adding accessibility"
How I'm supposed to add accessibility to the picker? For example, trying it with VoiceOver on, It seems like I have accessibility on select items (after I activate the selection) but I cannot find a way to add it to the selection box itself, so I get the focus on the box but no voice hints.

[2019-06-03 14:06] lfkwtz commented on #183
Admittedly I have no idea how accessible or not this component is - my assumption would be not very much unfortunately.

Going to move this to the feature request board. Happy to take PRs or ideas on how to improve it.

[2019-06-03 14:06] #183 closed

[2019-06-03 14:14] dextermb commented on #82
Calling `togglePicker` outside of the component does not seem to work for me:

[code]

[2019-06-04 13:53] dextermb commented on #82
This seems to work on iOS but not android.

[2019-06-04 13:59] lfkwtz commented on #82
see link above ^ #22

[2019-06-05 21:58] lfkwtz commented on #182
#114

[2019-06-05 21:58] #182 closed

[2019-06-05 22:05] lfkwtz commented on #168
looks like #177 handles this

[2019-06-05 22:05] #168 closed

[2019-06-07 01:24] idoor88 opened #186 "onFocus not triggered"
I am trying to add highlight feature to the component when the RNPickerSelect component is clicked, but the onFocus() is never triggered:
<RNPickerSelect
                                placeholder={placeholder5}
                                items={countryItem}
                                editable={true}
                                onValueChange={(value) => this.setState({ country: valu

[2019-06-07 02:33] lfkwtz commented on #186
update with the proper bug template

[2019-06-07 02:33] #186 closed

[2019-06-14 16:23] jrapala commented on #160
I created a [pull request](https://github.com/lawnstarter/react-native-picker-select/pull/188) that is on it's way to solving this issue.
Anyone have any suggestions on how to make this more universal?

[2019-06-27 20:40] WillyRamirez commented on #151
@lfkwtz What if I want to display the value in the input when it's selected, but the label in the picker box when expanded?

I have a dropdown of country net numbers. I want the selected net number to be visible for users, but I want the options list also to contain the label (ie country name)

visible in the input
+1

visible when expanded
+1 USA
+1 Canada
+44 UK

[2019-06-27 21:01] lfkwtz commented on #151
definitely possible using headless mode

[2019-06-27 21:05] WillyRamirez commented on #151
@lfkwtz thanks! I see this `headlessAndroidContainer ` is only available for android? Would it be possible to implement this on iOS as well?

[2019-06-27 21:08] lfkwtz commented on #151
headless is available on ios too

`For either platform, you can alternatively pass down a child element of your choice that will be wrapped in a touchable area.`

if you come up with a nice example of what you're working on feel free to share it and i'll add it to the main snack examples

[2019-07-06 17:05] erdemildiz opened #189 "onDone Button press doesn't work on IOS Emulator"
I upgrade my RN version 0.60 couple days ago. Today When I run my app on IOS emulator(iPhone X) picker doesn't work I expected.

Here is my package versions
[code]

[2019-07-06 22:02] #189 closed

[2019-07-06 22:03] erdemildiz commented on #189
Its my fault. Select hardware keyboard on emulator

[2019-07-08 10:34] gregogalante opened #191 "Android crash on press select"
**Describe the bug**<br />
When i click on the select on Android the application crash.

This is the log from the Android Studio console:
[code]

**To Reproduce**<br />
This is my configuration:
[code]

**Smartphone:**<br />
-   Device: Huawei P8 lite 2017
-   OS: Android 8.0.0
-   react-native-picker-select version: 6.2.0
-   react-native version: 0.59.5
-   react version: 16.8.3

[2019-07-09 09:27] sootood opened #192 "how put chevron on left"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-07-09 12:04] lfkwtz commented on #192
this question belongs on stackoverflow

[2019-07-09 12:04] #192 closed

[2019-07-09 18:11] canpoyrazoglu opened #193 "Picker is displayed like an inline list instead of native picker"
### YOU MUST FILL OUT THE ENTIRE BUG REPORT

**Describe the bug**<br />
I'm trying to integrate the picker into my project, though the component is displayed inline instead of displayed at keyboard's place.

**To Reproduce**<br />
Steps to reproduce the behavior:

Add the picker somewhere in the component hierarchy like in the demo.

**Expected behavior**<br />
Picker should appear in the place of

[2019-07-10 09:10] canpoyrazoglu commented on #193
Nevermind, I was using it in a completely wrong way. My bad. I was putting it as a seperate control and tried to toggle it from another control, which wasn't the way to go. I've integrated it all together and it worked perfectly.

[2019-07-10 09:10] #193 closed

[2019-07-12 20:51] #191 closed

[2019-07-15 13:04] Unforgiven-wanda opened #194 "useNativeAndroidPickerStyle outside Expo"
**Describe the bug**<br />
Using the `useNativeAndroidPickerStyle` in a react-native-cli project (without Expo) I run into the following error:
![screenshot-2019-07-15_14 02 51 68](https://user-images.githubusercontent.com/4499783/61218160-4a069380-a709-11e9-98b8-3949c3c4233d.png)
You can see the exact code that triggers this in this [snack](https://snack.expo.io/@unforgiven/suspicious-chocolate)

[2019-07-15 15:35] bericp1 commented on #191
@gregogalante, noticed you closed this issue. Did you find a resolution to this? We're getting the exact same error whenever we pass an empty array of items to the picker. Same details / env as you.

Right now we're working around it by populating optimistically and then loading in the data from the API so the `items` are never empty.

[2019-07-16 02:54] lfkwtz commented on #181
#190

[2019-07-16 19:23] ramonscampos opened #195 "The component is not entirely clickable"
Today I began to test my app in a Samsung Galaxy S9 and I checked out the element is not entirely clickable when is inside a TouchableWithoutFeedback.

It works in every emulator (Android and iOS) and in some other android devices I already tested before. The error only occurs in that device.

Is there any workaround for that?

**UPDATE:**
[code]

If I remove the view outside RNPickerSelect or the

[2019-07-16 19:52] lfkwtz commented on #195
if this is a bug report, please use the template

[2019-07-16 19:52] #195 closed

[2019-07-16 19:55] ramonscampos commented on #195
I don't know if this is a bug or a normal behavior of the component. That is exactly what I want to know.

[2019-07-16 20:03] ramonscampos opened #196 "The component is not entirely clickable"
**Describe the bug**<br />
The component is not entirely clickable in a specific device and inside TeouchableWithoutFeedback and a View.

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  Create a TouchableWithoutFeedback
2. Create a View inside.
3. Put the picker inside de View.

**Expected behavior**<br />
The picker works independently where I click (inside it, obviously).

**Smartph

[2019-07-16 20:25] ramonscampos commented on #196
Well, putting a fragment around the view (just above TouchableWithoutFeedback) worked well.
It's a workaround, but I don't know if is the best way.
If you think is correct you can close this issue.

![image](https://user-images.githubusercontent.com/2568091/61327015-66303080-a7ee-11e9-8239-f56a788da654.png)

[2019-07-16 20:40] lfkwtz commented on #196
The component itself is touchable, or you can wrap a touchable component within it. Looks like you're wrapping the component in a touchable element. Not sure how that will affect it but outside the scope of intended use.

[2019-07-16 20:40] #196 closed

[2019-07-18 19:11] pravinjohn commented on #194
this worked for me
`style={
{
inputAndroid:{color:'black'}
}
}`

[2019-07-19 06:52] shubhanus opened #197 "Add Item disable option in items would be great"
**Is your feature request related to a problem? Please describe.**
There will be some options which we have to show but should not allow to select. Better we allow it to be disabled.

**Describe the solution you'd like**
Add Disable prop for item

**Describe alternatives you've considered**
No

[2019-07-23 11:32] gregogalante commented on #191
My problem was related to the placeholder props. I pass a string as props insthead of an object with same keys like an option object.

[2019-07-25 17:21] gomesbreno opened #198 "Make the item on the picker show all the content for long values"
I'm still looking on the documentation, but i didn't find a way to show all the content of a long value on the item of the picker, because on the end of the item display, the part of the string who doesn't fit on a single line doesn't appear.
as shown below
<img width="320" alt="Captura de Tela 2019-07-25 às 14 18 03" src="https://user-images.githubusercontent.com/26438217/61894613-36b4ae80-aee7-

[2019-07-25 18:15] lfkwtz commented on #198
unfortunately that's a limitation outside the scope of this library

[2019-07-25 18:15] #198 closed

[2019-07-26 19:50] cipriancaba opened #199 "Is there a way to imperatively control the open/closed state of the picker?"
**Is your feature request related to a problem? Please describe.**
I am trying to display the content of the picker on the press of a button..

**Describe the solution you'd like**
An imperative way to control opening/closing of the container.. Even a prop like modal uses would be nice

**Describe alternatives you've considered**
I could probably do it with a simple list, but want to have the nice

[2019-07-26 20:24] lfkwtz commented on #199
#22

[2019-07-26 20:24] #199 closed

[2019-07-28 10:02] muzlee1113 opened #200 "Get Error when setting 'items' dynamically after a axios request in ComponentDidMount"
I'm making an education app and want to create a picker in which the options (items) are classes coming from the database. I got the following error message when using react-native-picker-select

TypeError: TypeError: Attempting to store accessor property on a typed array at index: 0

## What I did was:
In componentDidMount method, I simply got data (which is an array of objects) from mongodb

The

[2019-07-28 22:29] lfkwtz commented on #200
This type of question is more appropriate for stackoverflow

[2019-07-28 22:29] #200 closed

[2019-07-29 20:22] dkniffin opened #202 "Consider supporting react-native-web"
**Is your feature request related to a problem? Please describe.**
[react-native-web](https://github.com/necolas/react-native-web) is a new tool for creating web apps from react-native code. It would be awesome if this library supported web as well.

**Describe the solution you'd like**
My thought would that there could be an `index.web.js` file that implements the web version of this functionalit

[2019-07-29 20:34] lfkwtz commented on #197
this will live on the feature request board

[2019-07-29 20:34] #197 closed

[2019-07-29 20:40] lfkwtz commented on #202
sounds interesting - i'll need to do some reading up on react-native-web to familiarize myself with it so i can help qa the result and/or need assistance from others in the community who want to help.

i'd like to avoid typescript though as the rest of the library doesn't utilize it.

[2019-07-29 21:38] jdhorner opened #203 "Chevron disappears on Android with useNativeAndroidPickerStyle set to false and padding"
**Describe the bug**<br />
When setting `useNativeAndroidPickerStyle={false}`
and adding `inputAndroid: { paddingVertical: 8 }`,
the chevron disappears. Removing the padding reintroduces the chevron.

**To Reproduce**<br />
Steps to reproduce the behavior:

1. Set up a simple RNPicker instance
2. Set useNativeAndroidPickerStyle to false
3. Add vertical padding to the component
4. See how the chevr

[2019-07-30 14:35] jdhorner commented on #203
Obviously, choose "Android" in the Snack preview pane.

[2019-07-30 14:43] lfkwtz commented on #203
The issue here is that the TextInput you're styling pushes the native input enough at a certain padding limit that it hides the arrow. The headless mode on Android is definitely a workaround to the issue of not being able to trigger the picker programmatically - so any changes made to the structure / styling which enable it's current functionality would have to be made carefully as to not break it

[2019-07-30 15:24] jdhorner commented on #203
Well, really, the only reason I went with `useNativeAndroidPickerStyle={false}` was to deal with padding. But if there's a way to make the native one remove these circled spacing areas, that would be amazing!

![Screenshot_1564500037](https://user-images.githubusercontent.com/2692640/62142462-66373280-b2bc-11e9-97b3-a15702355472.png)

If _not_, I'll do as you suggest, and custom style it with a se

[2019-07-30 16:11] lfkwtz commented on #203
if that's all you're wanting to accomplish, what about wrapping the component (with useNativeAndroidPickerStyle set to true) in a view with negative margin on the sides?

https://snack.expo.io/HJVE3JRMr

[2019-07-30 16:45] jdhorner commented on #203
So I'll be honest... I had no idea negative margins were even a "thing". It worked like a charm. Thank you.

[2019-07-30 18:12] lfkwtz commented on #203
will live on the feature request board. if anyone has suggestions on how we can improve android headless - i'm open to it.

[2019-07-30 18:12] #203 closed

[2019-07-30 22:46] elkinjosetm opened #204 "[Android] FATAL EXCEPTION java.lang.ArrayIndexOutOfBoundsException"
The Android app is crashing when reseting items and value at the same time.

In my app I have 3 dropdown which depend on each other, every time I try change the value from the first, I need to reset the items and value of the 2 others, and when that happen on Android the app crashed right away.

**Expected behavior**<br />
By clearing the items array and the value, the picker should display the pi

[2019-07-30 23:22] lfkwtz commented on #204
Fill out the entire bug report

[2019-08-01 09:43] hassanShahzadW opened #206 "RNPickerSelect picker wrap in TouchableOpacity is not working in android"
**Issue**<br />
TouchableOpacity is not showing RNPickerSelect in android
When I press on TouchableOpacity sometimes it does not show the picker but show the opacity effect and sometimes it shows the picker but does not show the opacity effect.

**Expected behavior**<br />
I would like to show to user the picker but also the opacity effect for better user experience

** Code sample**<br />

render

[2019-08-01 10:32] csmtcy commented on #194
this worked for me too, thanks for the solution.

[2019-08-01 15:51] lfkwtz commented on #206
the component is already a touchable element. i'm not certain what side effects may occur if you choose to wrap it in additional elements - but it's not something i can help you debug.

[2019-08-01 15:51] #206 closed

[2019-08-01 15:55] lfkwtz commented on #206
the component is already a touchable element. i'm not certain what side effects may occur if you choose to wrap it in additional elements - stackoverflow would be a better place for debugging this.

[2019-08-02 02:54] VichitGit opened #207 "Each child in a list should have a unique "key" prop."
I ready set key but it's alway error
`Each child in a list should have a unique "key" prop. `

[code]

[code]

[2019-08-02 10:51] lfkwtz commented on #207
Use the bug report template

[2019-08-02 10:51] #207 closed

[2019-08-03 09:44] marcoizzo opened #208 "Customize font family"
**Is your feature request related to a problem? Please describe.**
I use a custom fond in my App and I want to customize also the picker

**Describe the solution you'd like**
Add fontFamily props in the component

**Describe alternatives you've considered**
-
**Additional context**
-

[2019-08-05 18:57] lfkwtz commented on #208
this is possible. use the style prop.

[2019-08-05 18:57] #208 closed

[2019-08-06 16:04] crobinson42 commented on #204
I'm also experiencing this on Android rn 0.60.4 only in release bundle

[2019-08-06 16:05] crobinson42 commented on #204
![Screenshot 2019-08-06 09 05 00](https://user-images.githubusercontent.com/5973579/62556242-48704d00-b829-11e9-8f3d-48ec872dad57.png)

[2019-08-06 16:07] crobinson42 commented on #204
@lfkwtz can this be re-opened? I won't open a new issue/bug since i don't have reproducible steps - we're only seeing this come through our Sentry error reporting randomly without any rhyme or reason. I've attached the screenshot from native stack trace above.

[2019-08-06 16:12] lfkwtz commented on #204
@crobinson42 sure i'll reopen it for a while - maybe someone can share some code that will reproduce this.

[2019-08-06 16:13] lfkwtz commented on #202
closing as this'll live on the feature request board.

[2019-08-06 16:13] #202 closed

[2019-08-06 16:32] crobinson42 commented on #204
Here's my component that uses this lib where the native error is being thrown:

[code]

[2019-08-06 17:59] crobinson42 commented on #204
### Solved

The problem for us is the `items` list is dynamic in our component. When we explicitly pass `value` to `react-native-picker-select` and the `items` list is updated from some external user action to a new `items` list, `react-native-picker-select`'s internal state of the index of the last value is passed to the native react-native picker component of an index that no longer exists in th

[2019-08-06 18:03] elkinjosetm commented on #204
That's exactly the same thing that was happening for me, but I was looking at `react-native-picker-select` code to see how the deal this, and it seems to be handling it correctly, so I think it might be related with the way RN Android Picker handles items changes

[2019-08-06 18:06] lfkwtz commented on #204
did this issue just crop up recently for either of you **after** updating RN? since you're both on 0.60.4 and I haven't seen this bug before...

[2019-08-06 18:56] crobinson42 commented on #204
I only recently started using this lib. We haven’t experienced the same issue in the last 2 years before when we used the native component.

Sent from my iPhone

[2019-08-06 19:10] elkinjosetm commented on #204
@lfkwtz In my case, I've been using this library for over a year, and never had this issue before. I didn't notice it when I first did the RN upgrade to 0.60.0, because it doesn't crash right away, you have to be updating the picker in order for it to crash on Android. iOS has worked for me just fine. Noticed on 0.60.4, because is where an actual user reported it, so I did the research about it an

[2019-08-08 15:45] dragonfire1119 opened #209 "Picker goes back a few values when pressing Done"
**Describe the bug**<br />
When I tried ^6.0.0 & went from 5.2.5 I started getting reports that on iPad's it went back a few values when pressing Done. If they don't press Done & just dismiss the value stay's correctly.

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  Go to to the picker with a few values or so
2.  Click on the picker
3.  Scroll down to value & press Done
4.  You shou

[2019-08-08 16:20] lfkwtz commented on #209
Weird - nothing obvious I can see causing this has changed since 5.2.5 - but I rarely test this on an iPad so anything is possible. Will try to reproduce when I get a moment.

[2019-08-08 16:21] lfkwtz commented on #194
Will look into this one when I get a moment - we don't use Expo, so this is an odd one.

[2019-08-09 11:05] iamautomaton opened #210 "When scroll down and select item, it will keep looping between two item."
**Describe the bug**<br />
I am developing an application form and using the plugin to select the bank. When i want to select a bank, it pop up a select window. However, when i slowly and select between two value, it will keep moving on the spacing between that two value.

**To Reproduce**<br />
1. Click on the text bank and it will pop up an window.
2. Scroll down to select the item.
3. When i sc

[2019-08-09 11:38] #210 closed

[2019-08-09 18:36] crobinson42 commented on #204
I was able to consistently reproduce this with 2 picker components on a screen at the same time where PickerA's selected item determines PickerB's items to render.

When PickerB has a selected item who's item's list index is say 10, then PickerA's selected item is changed and PickerB's items prop is changed and does not contain an index of 10, the `ArrayIndexOutOfBoundsException` will throw in the

[2019-08-09 22:13] lfkwtz commented on #204
Cool - will check out the pr soon. The eventual plan is to split off into named exports so I can make this a controlled component to fix #112 and in general make the component a little more dumb - but still have the 'legacy' export too. But in the near term, having some additional checks in there to prevent bugs like this is fine with me.

[2019-08-10 16:45] dragonfire1119 commented on #209
@lfkwtz I know it's weird. I've compared the version tags & don't see much that could make it happen but I haven't had a lot of time to look into it more though. It's something between those versions though because the Done button does start working with 5.2.5. Thanks for your time & this awesome project!

[2019-08-13 18:45] crobinson42 commented on #204
# Workaround Solution

Someone on my team found another solution to this problem - you can pass `key={items.length}` to this component which will causes it to remount on render when the items.length changes.

[2019-08-15 17:27] awinograd commented on #209
I'm noticing this issue to on 6.3.0

Tried to debug for a while before I found this issue. When done is pressed, the native `Picker` component seems to be calling `onValueChange` again which seems bizarre to me. Hope that's helpful. I'll post back if I learn more

[2019-08-15 17:53] awinograd commented on #209
^ Fix is in the linked PR. Looks like a necessary zIndex got removed from styles. Perhaps it's not needed on android

[2019-08-15 18:00] #209 closed

[2019-08-16 19:47] lfkwtz commented on #194
just ran your expo code on a fresh install of `react-native init` - works fine. if you can reproduce the error and share a github repo let me know

[2019-08-16 19:47] #194 closed

[2019-08-17 03:52] lfkwtz opened #215 "Add visual feedback to 'Done' press"

[2019-08-17 03:52] #215 closed

[2019-08-17 03:59] lfkwtz opened #216 "Emulate iPad 'popout' select"
![Bitmap](https://user-images.githubusercontent.com/1746853/63206411-7cddd780-c079-11e9-9609-fe4c31cd3c7c.png)

[2019-08-17 03:59] #216 closed

[2019-08-22 10:54] kubilaykiymaci commented on #204
it works, thank you

[2019-08-25 13:59] ezranbayantemur opened #219 "Searchable Picker"
How about adding "search" option?

Simple text input top of the picker and when user start to type, dynamically filtering items by 'label' name?

[2019-08-27 05:21] IntelliJAbhishek commented on #35
@lfkwtz  any update on this?

[2019-08-30 09:19] fattomhk commented on #209
@awinograd
I installed the latest version and the done button cannot be clicked.
[code]

[2019-08-30 12:47] sbauch opened #221 "Extend with datepicker support"
**Is your feature request related to a problem? Please describe.**
This is a *feature request* to be able to use a datepicker in a similar manner.

I've been trying to set up https://github.com/wix/react-native-keyboard-input to use an ios native datepicker as a "keyboard" for an input. Really struggling with getting that to work. Found this project, which solves general pickers wonderfully, but w

[2019-08-30 14:11] lfkwtz commented on #221
Thanks for the detailed feature request. I'll think about this a bit more / leave the issue open a bit for discussion.

Since you asked, [this post](https://medium.com/lawnstarter-engineering/react-native-one-year-later-what-weve-learned-c23dc13cec80) talks a bit about how we've handled dates.

[2019-08-30 14:12] lfkwtz commented on #221
Thanks for the detailed feature request. I'll think about this a little / leave the issue open for discussion for a bit.

Since you asked, [this post](https://medium.com/lawnstarter-engineering/react-native-one-year-later-what-weve-learned-c23dc13cec80) talks about how we've handled dates.

[2019-08-30 14:38] bikashsahucbnits commented on #178
Warning: value prop on select should not be null. Consider using an empty string to clear the component or undefined for uncontrolled components.

[2019-08-30 15:14] sbauch commented on #221
Oh interesting!! Seems you're maybe just a bit further along on this journey than me - I similarly have felt that using the native elements was best, but you make a compelling case in the post. Will noodle on it myself!

[2019-08-31 15:40] fgagneten opened #222 "Custom picker with description to the left and value to the right"
I've made a custom selector so I could set a description to the left and display the picker to the right. I couldn't. I don't think is a problem of the style, is just the picker doesn't allowed it.
This is my custom selector I've implemented:

[code]

This is how it looks:
![image](https://user-images.githubusercontent.com/14353978/64066076-21205c00-cbec-11e9-9c17-5c982d2ffca1.png)
![image](https:

[2019-09-02 05:46] JongGyuChoi opened #223 "Why can't handle onOpen in Android??"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-09-02 21:51] silviucs opened #224 "Search"
Is it possible to extend the component and add search bar function?

[2019-09-03 10:02] KarlosQ opened #225 "[Android] Visual problem in Honor Lite 9 when I use background in xml"
I know that this library is only JS but I want to know if someone had the same problem and which is the solution.

I created a custom style for spinner dropdown, but I have a visual problem with Honor Lite 9.

[![Honor Lite 9][1]][1]

I test in Samsung A8 (8.0), Xiaomi Redmi Note 3 (6.0), Samsung A50 (9.0), Moto E3 (8.0) and different simulators and dropdown is ok.

[![Others devices][2]][2]

Can

[2019-09-03 15:56] lfkwtz commented on #224
#31

[2019-09-03 15:56] #224 closed

[2019-09-03 15:58] lfkwtz commented on #223
no API is available to programmatically trigger the picker on android - so we have no way to determine when it has been opened. this is related to #22. could potentially detect certain changes on the screen to determine if it has been opened.

[2019-09-03 15:58] #223 closed

[2019-09-03 15:59] lfkwtz commented on #221
will throw this onto the feature request board. certainly out of the core scope of this library - but depending on the implementation it could work.

[2019-09-03 15:59] #221 closed

[2019-09-03 16:02] lfkwtz commented on #225
this question would be more appropriate for stack overflow - it's also tied to native apis and not necessarily this library

[2019-09-03 16:02] #225 closed

[2019-09-03 16:05] KarlosQ commented on #225
Yeah, I know, sorry, here is the post:
https://stackoverflow.com/questions/57768950/spinner-dropdown-visual-bug-in-honor-lite-9-android-8

Have a good day

[2019-09-05 09:53] aidshon opened #228 "Unable to remove the icon"
**Describe the bug**<br />
I removed the Icon prop from the Component but it still renders. I can't even change its color or add any other styling.

**To Reproduce**<br />
1. install the library
2. insert the code below
3. see the icon still displaying

**Expected behavior**<br />
I expected the icon not to display anymore.

**Screenshots**<br />
<img width="126" alt="Screen Shot 2019-09-05 at 3 4

[2019-09-05 12:57] lfkwtz commented on #228
Old version

[2019-09-05 12:57] #228 closed

[2019-09-06 07:00] Lopatovas commented on #178
An easy approach to fixing the placeholder issue is to change the key of the picker component when the placeholder object changes. This forces the React DOM to re render the element.

[2019-09-09 16:41] Andrea-Arguello opened #231 "textInputProps not working as expected"
**Describe the bug**<br />
I want the picker to ellipsize text that is too long.

**To Reproduce**<br />
I am using the RNPickerSelect inside of a styled component. It also uses an Icon, which after reading some of the other issues, could be a source of the problem.

**Expected behavior**<br />
After adding the  ``` textInputProps  = {{numberOfLines: 1, ellipsizeMode: 'tail'}} ``` I expected the i

[2019-09-09 17:06] lfkwtz commented on #231
`ellipsizeMode ` is not a supported prop

https://facebook.github.io/react-native/docs/textinput.html

[2019-09-09 17:06] #231 closed

[2019-09-09 17:31] Andrea-Arguello commented on #231
I read a comment that suggested placing numberOfLines inside of the textInputProps. If this is not the solution, what could I do?

[2019-09-09 17:38] lfkwtz commented on #231
add more padding to the right of the input

[2019-09-09 20:30] Andrea-Arguello commented on #231
That dod not fix the issue. I attach an image in a different emulator. The text to be displayed in this case is "Nahual Prueba NGO - Finance Committee"
![image](https://user-images.githubusercontent.com/31134106/64564229-47da4300-d30e-11e9-849a-4643a4f76a77.png)

[2019-09-09 20:39] lfkwtz commented on #231
you'll need to reproduce the issue on snack.expo.io for me to help - i have no idea what other styling you have on that screen that could be affecting the component.

[2019-09-10 16:02] Andrea-Arguello commented on #231
I have included the styles used in the code above. The picker select is inside a component called BoardNameContainer, with the following styling.
[code]

[2019-09-10 17:38] lfkwtz commented on #231
https://github.com/facebook/react-native/issues/14845

[2019-09-14 09:52] Andrea-Arguello commented on #222
Have you tried clicking on another part of the select component? I've had issues with the icon not being clickable, but anywhere else inside the RNPicker does detect the onPress action

[2019-09-14 11:10] fgagneten commented on #222
Yes. I clicked everywhere and nothing happens.

[2019-09-17 21:24] fgagneten commented on #222
Any solution for that?

[2019-09-20 17:47] tlambk2 commented on #40
<RNPickerSelect
              placegolder="Chọn địa bàn"
              items={this.state.items}
              value={this.state.value}
              onValueChange={(itemvalue)=>{this.setState({value:itemvalue})}}
            />
set state.value to null whenever you want to init RNPickerSelect

[2019-09-21 03:53] Andrea-Arguello commented on #222
I've noticed you don't have neither the value nor the onValueChange attributes passed down to the picker. Take a look at the sample code in the snack project https://snack.expo.io/@lfkwtz/react-native-picker-select

[2019-09-24 11:16] pani7 opened #232 "ANDROID -selected value longer than selector width aligns text to the right"
**Describe the bug**<br />
When the text of selected item is too long for selector width on android it positions text to the end. This is happening because under renderTextInputOrChildren() you are using textInput for value text and on android position is like we wrote long text in input.

**To Reproduce**<br />
Try to write long text in android selector and you will see wrong positioning

**Expec

[2019-09-24 13:06] lfkwtz commented on #232
https://github.com/facebook/react-native/issues/14845

[2019-09-24 13:06] #232 closed

[2019-09-24 13:14] zdavodi6990 opened #233 "How to Style the Placeholder Text"
**Is your feature request related to a problem? Please describe.**
A clear and concise description of what the problem is. Ex. I'm always frustrated when [...]

**Describe the solution you'd like**
A clear and concise description of what you want to happen.

**Describe alternatives you've considered**
A clear and concise description of any alternative solutions or features you've considered.

**Ad

[2019-09-24 14:40] #233 closed

[2019-09-24 14:41] lfkwtz commented on #233
View the sample, if that doesn’t help - use stackoverflow

[2019-09-25 06:43] zdavodi6990 commented on #233
thanks for your attention .i see sample and i read a code but it is not any
props to set style,

On Tue, 24 Sep 2019 at 18:11, Michael Lefkowitz <notifications@github.com>
wrote:

[2019-09-27 02:49] lfkwtz commented on #222
Please edit and/or reopen following the bug report template. Code samples need to be fully reproducible

[2019-09-27 02:49] #222 closed

[2019-09-27 04:59] gourav-singhal opened #235 "[Android] Unable to change dropdown icon color on Android."
On The Android app unable to change dropdown icon color.

Can you suggest how I can do this?

Expected behavior

Dropdown color must be changed as in iOS using 'borderTopColor' property

Smartphone (please complete the following information):

Device: All of them
OS: Android
react-native-picker-select version: 4.4.0
react-native version: 0.59.5
react version: 16.8.6

[2019-09-27 10:38] lfkwtz commented on #235
Old version

[2019-09-27 10:38] #235 closed

[2019-09-27 17:46] cmcaboy commented on #191
I ran into the same issue. @gregogalante's solution fixed my issue.

[2019-09-28 13:56] fgagneten commented on #222
I've just added how I use the custom Select Picket. Please, try it out and you will see that there is no way to set the value to the right and the text to the left.

[2019-09-30 11:57] lfkwtz commented on #222
Can you reproduce it on snack.expo.io for me?

Otherwise, I need a full code sample (for ex - yours isn't including props used) so I can just copy-paste and see the problem immediately without having to take guesses on reproduction.

[2019-10-02 13:54] St1ma opened #236 "[iOS] On closing modal by pressing outside - triggered onDonePress function"
**Describe the bug**<br />
The onDonePress function should not be triggered on closing picker modal on iOS

**To Reproduce**<br />
1. Open Picker modal on iOS device
2. Change selected value
3. Press outside the modal area to close/dismiss changes
4. onDonePress function was triggered

**Expected behavior**<br />
onDonePress function should not be called
onCancel function triggered (optional)

**S

[2019-10-03 14:50] kristoff2016 commented on #179
Any solution on this?

[2019-10-03 15:18] lfkwtz commented on #179
`An empty object can be used if you'd like to disable the placeholder entirely`

[2019-10-03 15:49] kristoff2016 commented on #179
Yes, I just fount it `placeholder={{}}` thanks

[2019-10-03 15:50] kristoff2016 commented on #179
@lfkwtz thanks for great plugin it's saved my times. thanks for great works.

[2019-10-04 21:08] ericmatte commented on #8
Like @lfkwtz said, this can be done easily by wrapping in a view, and then I use trigger `scrollIntoView` method from a parent [KeyboardAwareScrollView](https://github.com/APSL/react-native-keyboard-aware-scroll-view) when the iOS picker opens.

[2019-10-09 12:25] dooleyb1 opened #237 "[Android] - Icon not pressable"
**Describe the bug**<br />
When using a custom Icon component within the RNPickerSelect component I am unable to press the icon and open the Picker on Android. It works perfectly as expected on iOS.

**To Reproduce**<br />
See the code below.

**Expected behavior**<br />
Expect to click on the Icon to the right and for the Picker modal to open up. This is not the case on Android, however it works

[2019-10-10 18:47] lfkwtz commented on #237
doubtful - the problem is on android there isn't a way to programmatically trigger the dialog #22

[2019-10-10 18:50] lfkwtz commented on #237
fwiw - i just checked the sample expo - https://snack.expo.io/@lfkwtz/react-native-picker-select

doesn't seem to be an issue with the icons there

maybe that will help you debug this

[2019-10-10 19:21] lfkwtz commented on #236
seems reasonable - looks like there may have been a regression on this in #177

[2019-10-10 19:24] lfkwtz commented on #204
i'm going to close this out since it is an upstream issue https://github.com/facebook/react-native/issues/26406

[2019-10-10 19:24] #204 closed

[2019-10-11 09:31] dooleyb1 commented on #237
So, I've actually managed to resolve this issue. Turned out the missing prop that was preventing the Icon from being clickable was `useNativeAndroidPickerStyle={false}`. Once this was added everything worked perfectly as expected. Thanks for your help @lfkwtz 👍

[2019-10-12 11:25] harikanammi opened #238 "How to display the dropdown value by default"
**Describe the bug**<br />
I am running sample application. I am using this module it is working fine. My question is how to display the value by default without selection using dropdown.

**To Reproduce**<br />
Steps to reproduce the behaviour:
I placed the code value={"Picked"} by default. But it is not displaying in dropdown section.

**Expected behaviour**<br />
I want to display the value by

[2019-10-12 11:31] developer-shubham101 opened #239 "App crash when i update "items" value"
I have a situation where I have to update dropdown values it is working fine if the selected option is lower then the newly updated list. If the selected item is gathered then the new list then app crash.

[2019-10-12 13:44] lfkwtz commented on #239
Use the big template

May be #204

[2019-10-12 13:44] #239 closed

[2019-10-12 13:45] lfkwtz commented on #238
dropdownValues isn’t a prop

Look through the sample expo app and documentation

[2019-10-12 13:45] #238 closed

[2019-10-13 22:45] glenne commented on #112
Sorry for the late reply. This branch worked for me.

[2019-10-14 09:25] harikanammi commented on #238
hi @lfkwtz, thank you for your reply. I am using child component for Picker **dropdownValues** contains in parent class. **value** is worked for me. My mistake is child to parent passing values incorrectly. Now i am using callback function it's working fine.

[2019-10-15 04:07] jpandl19 commented on #112
@lfkwtz The branch also seems to fix the problem for me 👍

[2019-10-21 01:55] mmgirl opened #242 "onValueChange() called two twice?"

[2019-10-21 01:56] lfkwtz commented on #242
use the bug template

[2019-10-21 01:56] #242 closed

[2019-10-21 13:12] suraneti opened #244 "Prop to set limit of label length to display with "...""
**Is your feature request related to a problem? Please describe.**
Yes, I want to set a label length limit. for example, set to 8 after limit should display "..."

**Describe the solution you'd like**
Prop to set a label limit.

[2019-10-21 13:48] lfkwtz commented on #244
https://github.com/facebook/react-native/issues/14845
https://github.com/lawnstarter/react-native-picker-select/pull/234

[2019-10-21 13:48] #244 closed

[2019-10-22 08:46] alexborton opened #245 "Support for iOS Dark Mode"
Currently, the default styling of the Modal itself is Light in colour. with iOS 13, there is a new dark mode that turns all native elements darker (Alerts, other modal popups and theming).

If a device is able to detect Dark Mode, we should allow the `select` modal to be switched to a default "dark" style to fit with other elements that are likely to be present on the screen.

Looks like you could

[2019-10-22 14:38] lfkwtz commented on #245
moving to feature request board

[2019-10-22 14:38] #245 closed

[2019-10-29 11:19] aathul opened #246 "Add an onselect function for this component"
**the onchangevalue is not triggered if the same value is selected again.**
**Introduce a onselect.... like if we select a value it triggers the function**

[2019-10-29 11:27] cesar-bookee opened #247 "Done button props not available (AllowFontScaling)"
**Describe the bug**<br />
When the accesibility text is set to a larger text size on ios the Done label is too big for the done section,

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  Go to the device accesibility settings
2.  Change the font size to the largest possible
3.  Go to your app and open the picker
4.  See error

**Expected behavior**<br />
Be able to pass down the Allow

[2019-10-29 13:59] lfkwtz commented on #247
`style.done`

https://github.com/lawnstarter/react-native-picker-select/blob/master/src/index.js#L351

[2019-10-29 14:01] lfkwtz commented on #247
i'm thinking we can just set that as a default

[2019-11-03 14:11] shachardevops opened #249 "rtl isnt supported"
IOS modal doesn't look very good with RTL

[2019-11-03 14:15] shachardevops commented on #249
![Screen Shot 2019-11-03 at 16 15 05](https://user-images.githubusercontent.com/36663539/68086469-2ea8cb00-fe55-11e9-8e42-ce6efb761714.png)

[2019-11-04 09:18] St1ma commented on #236
@lfkwtz the onDismiss prop make the same done triggering as was before on pressing area outside picker
https://github.com/lawnstarter/react-native-picker-select/pull/177/files#diff-1fdf421c05c1140f6d71444ea2b27638R398
I'm not sure it should be here

[2019-11-04 13:44] rohitkum28 opened #250 "Android: Not working with Parent View {flexDirection:'row'}"
### YOU MUST FILL OUT EVERY SECTION. INCOMPLETE BUG REPORTS WILL BE CLOSED.

**Describe the bug**<br />
I want to use <RNPickerSelect./> with <TextInput/> in a single row. So, when I make the Parent <View> flexDirection: row, I see only the arrow and no text. Even if I remove the <TextInput/> I don't see any text.

**To Reproduce**<br />
Steps to reproduce the behavior:

Below is the code to repro

[2019-11-04 15:35] lfkwtz commented on #249
thanks for the heads up. interested in submitting a PR for this?

[2019-11-06 12:39] Wasaga-solo commented on #29
am going through the same problem,anyone?

[2019-11-06 17:52] lfkwtz commented on #247
handled in #247

[2019-11-06 17:52] #247 closed

[2019-11-15 12:18] St1ma commented on #236
@lfkwtz Any updates?

[2019-11-15 21:54] lfkwtz commented on #250
this is an upstream issue: https://snack.expo.io/HkygCqhsr

options:
1. `useNativeAndroidPickerStyle` prop
2. set `width` and `height` with `inputAndroid` style prop

[2019-11-15 21:54] #250 closed

[2019-11-15 23:15] lfkwtz commented on #246
moving to feature request board

[2019-11-15 23:15] #246 closed

[2019-11-18 11:25] bikashsahucbnits opened #251 "Center the Label name of the item"
Is there any way to show the Label name in the center of the picker?
How to place **"pickerProps"** inside the RNPickerSelect component ?
itemStyle={{textAlign:'center'}} prop could be appropriate for this.
It will be helpful if you get back to me with an example.

[2019-11-18 15:01] lfkwtz commented on #251
this type of question is more appropriate for stack overflow

[2019-11-18 15:01] #251 closed

[2019-11-18 15:01] lfkwtz commented on #236
will fix this when I have a moment - feel free to submit a PR

[2019-11-20 17:50] shachardevops commented on #249
sorry but i dont have time for this.
i just used
chevronUp: { opacity: 0 },
    chevronDown: { opacity: 0 },

[2019-11-20 17:52] lfkwtz commented on #249
can you post a screenshot of what the 'select' menu looks like when you click the dropdown on [this](https://www.w3schools.com/tags/tryit.asp?filename=tryhtml_select) page?

[2019-11-21 00:52] lfkwtz commented on #249
![IMG_3310](https://user-images.githubusercontent.com/1746853/69290875-eb758880-0bc6-11ea-891d-10fb0dc0d053.PNG)

[2019-11-21 01:31] lfkwtz commented on #112
@jpandl19 @glenne https://github.com/lawnstarter/react-native-picker-select/tree/v7

i've incorporated those changes into an upcoming release - mind testing that branch out to see if the changes are still resolved? it's been a while since I made that original one

[2019-11-21 05:34] glenne commented on #112
Due to some personal travel I won't be able to test for a few weeks but
check it out.

On Wed, Nov 20, 2019 at 5:31 PM Michael Lefkowitz <notifications@github.com>
wrote:

[2019-11-21 19:17] lfkwtz commented on #112
@glenne thanks - i pulled that comment off as I don't think the branch was ready. will post here again soon if anyone wants to check out the bugfix.

my plan is to release this change so we can finally close out this bug - afterwards, I'd like to setup a split export in a future version with a controlled component which can live in beta for now and potentially replace the original down the line

[2019-11-24 06:23] ruizhangcool commented on #236
This bug is fixed? i am getting same issue when i will click "Done" button. please update it soon. :)

[2019-11-25 09:40] szymons91 commented on #30
I have same issue. Solution of our problem is very simple:
[code]
And you should have defined `fontFamily` property inside your `inputAndroid` style object.

[2019-11-27 01:51] MebDevelop opened #253 "Only icon clickable"
**Is your feature request related to a problem? Please describe.**

I have so many pickers in the scroll view and when I scroll down sometimes picker shows modal.
I want to not show modal.

**Describe the solution you'd like**

So, I want to show modal when clicking the icon, not the content.

**Describe alternatives you've considered**

I checked the module but I am not sure how can I solve this.

[2019-11-27 14:06] tanweer2k9 opened #254 "Icon color is not hanged"
I want to change the color of icon i.e arrow it does not change. This code given in snack.expo. color is only changed to the selectdItem of select picker not icon

<Text>set useNativeAndroidPickerStyle to false</Text>
          <RNPickerSelect
            placeholder={placeholder}
            items={sports}
            onValueChange={value => {
              this.setState({
                favSpor

[2019-11-27 15:37] lfkwtz commented on #254
use the bug report template

[2019-11-27 15:37] #254 closed

[2019-11-27 21:00] lfkwtz commented on #112
@glenne  @jpandl19  (and anyone else)

please test this beta version to see if this issue has (finally) been resolved
https://www.npmjs.com/package/react-native-picker-select/v/7.0.0-beta.0

as mentioned above, i plan to release a v7 with this fix -- and then start work on a controlled component

[2019-11-27 21:00] lfkwtz commented on #236
@St1ma @ruizhangcool please test this beta out to see if the issue is resolved and let me know: https://www.npmjs.com/package/react-native-picker-select/v/7.0.0-beta.0

[2019-11-28 09:55] St1ma commented on #236
@lfkwtz Works perfect
Many thanks

[2019-12-02 15:44] lfkwtz commented on #253
you can currently handle this by using headless mode. otherwise, the base pickers are fully wrapped in touchables. moving to feature request board.

[2019-12-02 15:44] #253 closed

[2019-12-02 15:44] lfkwtz commented on #249
moving to feature request board

[2019-12-02 15:44] #249 closed

[2019-12-06 11:00] CptFabulouso commented on #207
Just encountred this. Make sure the value of `label` in `placeholder` object is not nil, it will be used as a key, In your case the `this.props.textPlacehoder`. Or you can add `key` to the placeholder object, then it will be used.

[2019-12-06 15:48] jawadm commented on #112
I am using the beta version 7.0.0-beta.0.  It did fix an issue with the dropdown changing the values a couple times before going back to the correct value.

In the onValueChange I still have to check if the value does not equal the new one using an if statement, otherwise it results in an infinite loop.  That is still a bug should be addressed.  In other pickers there is no need for the if stateme

[2019-12-08 14:43] OBorovec opened #258 "Speed up IOS animations"
I have just started using this library and it really saved me a lot of work, so in the first place, I would love to thank you for your efforts.

One thing I am struggling with is, that opening of my picker takes a long time as well as after closing it takes a long time before my App is responding again. I guess it has to do something with ongoing animations. Is there a way how to speed it up?

Sin

[2019-12-08 15:06] OBorovec commented on #258
For

[2019-12-08 15:06] #258 closed

[2019-12-08 15:07] OBorovec commented on #258
I solved that for me by removing the animation totally by:

`modalProps={{animationType: 'none'}}`

[2019-12-09 06:49] akkravikumar commented on #203
@jdhorner use this style below, it should work.
inputAndroid: {
    borderWidth: 1,
    borderColor: "red",
    elevation: 2,
    color: "#000000"
}

[2019-12-09 08:47] suraneti opened #259 "placeholder color prop not working"
**Describe the bug**<br />
When I set a color object in placeholder prop not work but set though placeholderTextColor prop worked perfect (it's deprecated).

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  Set a color object in placeholder prop.

**Expected behavior**<br />
Placeholder text color changed.

**Additional details**<br />
-   Device: [iPhone8]
-   OS: [iOS13.1]
-   react-

[2019-12-09 11:56] lfkwtz commented on #259
`style` prop

[2019-12-09 11:56] #259 closed

[2019-12-10 04:12] programmaker commented on #198
How to decrease items' font size to match width of the screen?

[2019-12-10 05:45] suraneti commented on #259
@lfkwtz thanks for responding, I still facing this problem.

I have set color: 'red' though style prop, default value still lightgray color as below screenshot.

<img width="339" alt="Screen Shot 2562-12-10 at 12 38 18" src="https://user-images.githubusercontent.com/26770227/70498803-2c1f4c80-1b4a-11ea-9d3b-2643384e00aa.png">

but it's effect with the second value.

<img width="337" alt="Screen Sh

[2019-12-10 17:35] dstvishnu opened #260 "Multi Select"
**Is your feature request related to a problem? Please describe.**
If this library have the multi select option it would be useful and there is not need for writing the own component or no need to look for other libraries.

**Describe the solution you'd like**
Provide a Multi Select functionality for a picker using which the user can select the multiple items

**Describe alternatives you've consid

[2019-12-10 17:55] lfkwtz commented on #260
#35

[2019-12-10 17:55] #260 closed

[2019-12-10 20:57] lfkwtz commented on #259
`style.placholder.color` will do the exact same thing as `placeholderTextColor`

[2019-12-11 13:27] Avanikothari22 commented on #123
The above solution seems for IOS, what about Android ? I am facing this issue on android, keyboard does not dismiss when picker opens.

[2019-12-11 15:13] lfkwtz commented on #123
can you share a screenshot of what that looks like? is that with the dialog or dropdown picker?

[2019-12-12 06:26] Avanikothari22 commented on #123
its a dialogue picker.
![Screenshot_2019-12-12-11-48-43](https://user-images.githubusercontent.com/30333802/70687888-6cabd100-1cd6-11ea-806f-1eb38883ae9d.png)

[2019-12-12 15:43] lfkwtz commented on #123
that's an upstream "issue" (wouldn't say it's necessarily a bug)
https://snack.expo.io/rJmgxylRB

there may be a way to handle it within this library though - feel free to submit a pr

[2019-12-12 22:45] dquessenberry opened #261 "Unable to tap button when picker is open"
**Describe the bug**<br />
When the picker drawer is open I am unable to tap a button on the screen. All taps outside of the picker drawer only close the drawer and do not allow for tap event to be passed on. For example, I have a screen with a RNPickerSelect input field and a save button. When I tap the input field and the drawer opens, I select a value, but when I tap the save button on the scre

[2019-12-16 13:04] ShaharyarMaroof opened #262 "maxFontSizeMultiplier property not working for Picker textInputProps"
### YOU MUST FILL OUT EVERY SECTION. INCOMPLETE BUG REPORTS WILL BE CLOSED.

**Describe the bug**<br />
I tried to add the maxFontSizeMultiplier prop to the textInputProps, to limit font scaling.

**To Reproduce**<br />
add textInputProps to Picker component with the following configs:
`<RNPickerSelect textInputProps={{fontSize: 20, maxFontSizeMultiplier: 1.1}} />`

The component renders but the f

[2019-12-16 22:05] Billmike opened #263 "Display value instead of Label"
Is it possible to display the value rather than label for a selected option using this library? For instance, if I have an array with the following shape:
[code]
Passing this to the items prop, the displayed label would be United States of America and its corresponding value would be USD. On selecting the United States Of America option, rather than display United States of America, can one displa

[2019-12-16 22:11] lfkwtz commented on #263
to clarify, you want it to display 'United States of America' in the 'list', but 'USD' in the input - correct?

[2019-12-16 22:22] Billmike commented on #263
Correct

[2019-12-17 12:30] lfkwtz commented on #263
1. you could currently handle this yourself via headless mode
2. you could possibly try a hacky solution on ios like this: https://snack.expo.io/Hkl7qBIAB
3. adding to feature request board - would be simple enough for the component to handle via a prop

[2019-12-17 12:30] #263 closed

[2019-12-17 12:32] lfkwtz commented on #112
@jawadm thanks for the feedback -- @glenne / @jpandl19  - either of you have a chance to check it out?

[2019-12-17 12:37] lfkwtz commented on #262
initial thought is that i'm not sure why this would be an issue - the component just spreads on those props - may be an upstream problem.

check v7 beta for me - https://www.npmjs.com/package/react-native-picker-select/v/7.0.0-beta.0

prop is currently the same (textInputProps) but the TextInput has been replaced with a Text element

I wonder if the issue still persists

[2019-12-19 20:51] danecando opened #264 "Select won't close on iOS"
**Describe the bug**<br />
Select window doesn't close when clicked outside or done is pressed.

**To Reproduce**<br />
Create a simple select box and try to use it.

**Expected behavior**<br />
Select View should close and onDonePress should be called when clicked

**Screenshots**<br />
![2019-12-19 15 19 54](https://user-images.githubusercontent.com/3721977/71208584-4e664800-2277-11ea-83e8-77f97

[2019-12-20 10:59] Hristijan95 opened #265 "onValueChange called twice with different value"
**Describe the bug**<br />
There is a onValueChange prop on the RNPickerSelect and it's called twice instead of once. The first time with the correct value, and the second time with the wrong (opposite) value. I've also noticed that on iOS you can't even select the value you want, for example I have 2 values (Yes and No) and if the initial value is "Yes", when I click to "No", it goes to "No", the

[2019-12-20 11:56] lfkwtz commented on #265
Sounds like it isn’t implemented correctly. This would be an open issue already if you weren’t able to select something (base functionality). Feel free to post a repro.

[2019-12-20 11:56] #265 closed

[2019-12-23 15:59] chetna-webonise opened #266 "Unable to set placeholder dynamically"
placeholder={{responsiblePlayLimits.depositLimit || '500',}

[2019-12-23 16:26] lfkwtz commented on #266
Possibly related to #178   Use the big report template if not

[2019-12-23 16:26] #266 closed

[2019-12-24 02:13] ThailanHigor commented on #30
Thanks!

[2019-12-24 19:53] zaytrix commented on #265
I ran into the same issue, unsure what's causing it though. Has something to do with the `value` prop. Removing that prop entirely fixed the issue, but then I couldn't set an initial value.

My workaround was using `itemKey` instead, and setting `key` of each item to be the same as their respective `value`. I then had to go one step further and use RNPickerSelect as a headless container, and have

[2019-12-25 10:55] benjamin-daniel commented on #264
It isn't just you. Plese does this have a solution. I haven't been able to complete my project because of this.

[2019-12-25 11:37] Mnabawy opened #267 "override default style for text input"

[2019-12-25 22:41] #267 closed

[2019-12-27 15:48] gamezinfantes commented on #264
I don't know why but setting the Picker height 1 unit less than the modalViewBottom and adding overflow hidden solves the problem.
[code]

[2019-12-27 15:50] benjamin-daniel commented on #264
Will try this now. Thanks in advanced!

[2019-12-27 22:43] andordavoti opened #268 "Support for dark mode"
I can style the component so it's dark, but when I open the picker select menu that is using a light theme. Being able to pass a prop called theme to change the look of the picker would be nice.
![IMG_ADB4EAB5761B-1](https://user-images.githubusercontent.com/24613178/71534960-a39efb00-2902-11ea-8bbf-d60546ec3ba0.jpeg)

[2019-12-27 23:56] lfkwtz commented on #268
Exists on feature request board

[2019-12-27 23:56] #268 closed

[2020-01-09 02:43] thomasr96 commented on #29
I got mine to work with

'''
<RNPickerSelect
                    value={this.props.middleBellLengthType}
                    placeholder={{ label: '...', value: '...'}}
                    style={{inputAndroid:{
                        fontSize: scale(16),
                        justifyContent: 'center',
                        textAlign: 'center',
                        paddingHorizontal: 10,

[2020-01-17 15:05] sebinq commented on #245
any news on this?

[2020-01-17 17:29] lfkwtz commented on #245
not on my priority list, but open to prs

[2020-01-18 07:47] riazXrazor opened #270 "crash when change ITEMS dynamically"
the items are being updated from an api call from server to a redux store, i cant seems to debug it properly,
ATTACHED A VIDEO
[20200118-100529-720x1280.zip](https://github.com/lawnstarter/react-native-picker-select/files/4080125/20200118-100529-720x1280.zip)

any body help plz

[2020-01-18 14:52] lfkwtz commented on #270
this looks more like troubleshooting implementation than a bug report - this would be more appropriate for stackoverflow

[2020-01-18 14:52] #270 closed

[2020-01-18 14:53] lfkwtz commented on #262
@ShaharyarMaroof - did you check the beta?

[2020-01-19 08:11] riazXrazor commented on #270
initially me too thought so, but y crash the app in dev mode too, no error nothing, if i change the implementation a little bit it works, but i just wanted to inform abt the crash

[2020-01-20 02:05] lfkwtz commented on #236
fixed in 6.3.4

[2020-01-20 02:05] #236 closed

[2020-01-20 02:08] lfkwtz commented on #247
fixed in 6.3.4

[2020-01-21 16:35] hmazer opened #272 "add an action to open the picker"
**Describe the solution you'd like**
In order to make my app more dynamic, I often focus fields automatically when the user hits a return key or open a screen.
I'd like to be able to add a ref to the RNPickerSelect and call ref.show() or something like that, so the user doesn't have to tap to open.

**Additional context**
I'm currently using .onUpArrow() but I don't think this function was added f

[2020-01-21 16:50] lfkwtz commented on #272
#22

[2020-01-21 16:50] #272 closed

[2020-01-22 20:13] dquessenberry opened #273 "KeyboardAvoidingView not triggered on RNPickerSelect"
### YOU MUST FILL OUT EVERY SECTION. INCOMPLETE BUG REPORTS WILL BE CLOSED.

**Describe the bug**<br />
I have a list of inputs in a single ScrollView. The ScrollView is wrapped in a KeyboardAvoidingView component, however the issue still occurs without the ScrollView component as well. All TextInput components trigger the KeyboardAvoidingView properly when tapped, however, the RNPickerSelect does

[2020-01-23 16:26] mattmattvanvoorst commented on #264
I'm experiencing the same issue. I'm at the point where I have built my own toggle and my own modal, importing the default Picker component from react-native. However I seem to be able to reproduce the same bug outside of this package. It seems the Picker covers the entire screen somehow, and catches any and all interaction.

It might have to do with some weird picker-in-modal interaction. If anyo

[2020-01-24 03:12] adrianso commented on #264
I created #274 to address the issue.

[2020-01-29 20:16] countcain opened #275 "Programmatically open the picker"
First of all. Thanks for your awesome lib.

**Is your feature request related to a problem? Please describe.**
I use this Picker on the onboarding screen. Users can go through all inputs one-by-one by clicking the next key on the keyboard. When I have this Picker between other inputs, it breaks the inputs navigation flow.

**Describe the solution you'd like**
It would be nice if this Picker expose

[2020-01-29 20:25] lfkwtz commented on #275
#22

[2020-01-29 20:25] #275 closed

[2020-01-30 12:14] BogdanTaranenko commented on #138
what about android?

[2020-01-31 03:39] lfkwtz commented on #261
Going to move this to feature request board. Currently this isn't possible due to the way this library is built (within a modal) - but I'd like to see this fixed if possible - will need to put some thought into it.

[2020-01-31 03:39] #261 closed

[2020-01-31 03:49] lfkwtz commented on #138
@BogdanTaranenko - added support for `onOpen` in 6.4.0 on android

notes:
- will not work when `useNativeAndroidPickerStyle={true}`
- no easy way to detect picker close on android, so callback currently isn't supported

[2020-01-31 21:20] aphex3k commented on #40
Important to remember is that setting the value to null is not the same as setting the value to undefined

[2020-01-31 21:34] lfkwtz commented on #262
closing due to inactivity

[2020-01-31 21:34] #262 closed

[2020-02-02 04:57] shierro commented on #208
Hi @lfkwtz for v6.4.0 i tried

[code]

But was only able to change color of chosen value. FontFamily for chosen value & dropdown items did not change. Any advice for me here?

[2020-02-03 08:54] HarshitMadhav commented on #266
@chetna-webonise Set the placeholder like this
`            placeholder={{
            label: 'Select Gender',
            value: null,
            color: '#909090',
        }}
`
example:

[code]

[2020-02-03 09:00] HarshitMadhav commented on #178
**Set the placeholder like this**
`placeholder={{ label: 'Select Gender', value: null, color: '#909090', }}`

It works for me.

[2020-02-07 05:08] Praxey commented on #247
Is there any way to turn the fontscaling off for the placeholder text? I tried this: textInputProps={{allowFontScaling:false}}, but no luck.

[2020-02-07 10:30] Hristijan95 commented on #112
I am experiencing the same issue, the onValueChange is called on every render and it's called with null/undefined value after a few times and of course, it shows the wrong selected item.

I've tried the 7.0.0-beta.0 version, but nothing changed.
At the moment, I am trying to figure out some workaround, or figure out the cause of the bug. Otherwise, a really, really nice lib, I love it.

[2020-02-13 21:50] winkelsdorf opened #280 "Update iOS design to fit native look and feel"
Currently the iOS design looks a bit outdated due to changes in the past years. May I provide a PR for it?

New colors are hand-picked using ColorSnapper and sizes using PixelWinch - directly from native components on newer iOS versions (ie. 12 and 13).

[2020-02-14 14:25] amankarora opened #282 "No feedback given on iOS when tapping picker"
When tapping the picker, no feedback is provided to user to indicate that it has been touched. This sometimes means the user does not know where exactly to tap in order to bring up the menu, or requires a few taps before the menu appears.

It would be nice to have some sort of feedback when touching the picker or the radius of it were bigger.

React Native has TouchableOpacity which would be good

[2020-02-17 18:59] dantenol commented on #163
Any updates? it still opens as dropdpwn on RN v0.61.5 on an android device

[2020-02-17 20:11] lfkwtz commented on #163
https://github.com/facebook/react-native/issues/24055

[2020-02-24 06:23] Jacob-o opened #284 "Help Wanted – Android Picker Everywhere/Single Select"
Hello Mr.Lefkowitz. Hope all is well. I am a senior about to graduate university and I'm looking to use this library in a project for my capstone course. With how the library is built now, is there a way to use Android UI on IOS? What I want to solve is that I don't want users having to tap the done button after selecting their choice. I would prefer the Android UI of a pop up that closes upon sel

[2020-02-24 12:00] lfkwtz commented on #284
Not possible - it uses native UI components that are explicit to each platform.

You could use the onChange callback to auto close the iOS picker though - but that would be poor UX in my opinion - due to the way iOS displays options in a wheel vs presenting all at once on a sheet like Android.

Best of luck on your course.

[2020-02-24 12:00] #284 closed

[2020-02-25 00:21] meliodev commented on #29
<RNPickerSelect
  ...
  style={pickerSelectStyles}
  useNativeAndroidPickerStyle={false}  // add this line and it should work
 />

[2020-02-25 18:55] tomthornton opened #285 "Error while updating property 'items' of a view managed by: AndroidDialogPicker"
**Describe the bug**<br />
Getting an error that crashes the app

Error while updating property 'items' of a view managed by: AndroidDialogPicker

null

label

**To Reproduce**<br />
Steps to reproduce the behavior:

1. use React Native Picker Select on android?

**Expected behavior**<br />
It works on iOS but not Android

[2020-02-25 19:26] #285 closed

[2020-02-27 21:07] aiveneh commented on #285
I'm experiencing this issue too, please what solution did you come up with ?
@lfkwtz

[2020-02-27 21:15] lfkwtz commented on #285
I didn’t - this isn’t a complete bug report

[2020-02-28 10:16] SAHITYASAI commented on #180
I'm working on loading forms dynamically. When trying to update dropdown object in array of objects using redux, i'm facing the same issue. I even tried using the solution mentioned by @Achilles718611 but with no effect. Can someone help me please. Thanks in advance.

[2020-03-01 09:32] tannker commented on #285
I had the same error. I was building the list of options dynamically and after debugging realized that on one case one item was missing the 'label' element. This caused the same error. All picker items should always have 'label' and 'value' elements.

[2020-03-03 13:28] ReneMoraales commented on #285
I had this problem. My problem was that I was passing a string to the `placeholder` property. In iOS it just throws a warning so I ignored it but it turns out in Android it crashes the app.

[2020-03-04 00:58] #280 closed

[2020-03-04 15:35] GleidsonDaniel commented on #285
@tomthornton Probably your items are incomplete or undefined, try to initialize your items with an array, solve the problem, at least here it worked.

Error:
[code]
Works:
[code]

[2020-03-04 20:24] tomthornton commented on #285
You're a lifesaver! That's such a weird error.

[2020-03-05 18:30] duongkhoangiam opened #287 "Error in expo android."
Android error (IOS nice working)
[code]

compoment code
[code]

dependencies

[code]

[2020-03-05 18:52] #287 closed

[2020-03-06 20:31] lfkwtz commented on #215
available in 6.6.0

[2020-03-06 21:15] lfkwtz commented on #282
added as a prop in 6.6.0

[2020-03-06 21:15] #282 closed

[2020-03-10 22:10] yl-flyer commented on #178
Same bug here
When i reset the select it still remember the old value:
`
             <RNPickerSelect
                    key="csp"
                    onValueChange={(value): void => SetSalePointsFilter({ key: 'csp', value })}
                    Icon={(): React.ReactNode => <Unicons name="angle-down" size={22} />}
                    useNativeAndroidPickerStyle={false}
                    placeh

[2020-03-11 00:15] yl-flyer commented on #178
Ok, it works for me.
To reset the select, set the component value to null and the value of placeholder also null

[2020-03-13 21:26] richard4s opened #289 "Specify value and label fields"
After passing an array of items into the `items` props, there is no way to specify the fields to be used as `value` and `label`. The library specifically looks for the `value` and `label` field names to show values.
The only way to get around this is to hack around the library itself which is obviously not recommended

[2020-03-13 21:34] lfkwtz commented on #289
item.displayValue

[2020-03-13 21:34] #289 closed

[2020-03-17 17:42] lovetofail opened #290 "[WEB] 'ColorPropType' is not exported from 'react-native-web/dist/index'."
Hi. After upgrading to  "react-native-web"  "0.12.2"  there is an error when I try to compile this for web.

[code]
RNW removed this export it seems. https://github.com/necolas/react-native-web/pull/1489

Any chance to fixing this for web? Was working fine on RNW 0.11

**Expected behavior**<br />
Expected to compile for web

**Additional details**<br />
-   Device: Chrome
-   OS: Windows
-   react

[2020-03-19 18:03] jenskuhrjorgensen commented on #265
@zaytrix I have no idea why it worked, but duplicating the value of `key` in `itemKey` and adding the following props to `RNPickerSelect` finally made it work for me:
[code]
When using just `value`, `onValueChange` was sometimes called many times on Android on initial rendering of the view, causing the value to flicker.

I found you solution via [this SO post](https://stackoverflow.com/questions/5

[2020-03-21 23:30] andordavoti opened #291 "iOS dark mode support for picker"
Would it be possible to add support for iOS dark mode for the picker component? Pass it a theme prop?

[2020-03-23 07:55] musmanfaisal opened #292 "fontFamily does not work on android"
Here is my picker object

`<RNPickerSelect
                useNativeAndroidPickerStyle={false}
                style={{
                    inputIOSContainer: styles('p15'),
                    placeholder: { paddingLeft: 10, color: constants.themeColor, fontFamily: 'QuickSand-Bold' },
                    inputIOS: { paddingLeft: 10, color: constants.themeColor, fontFamily: 'QuickSand-Bold' },

[2020-03-23 18:25] lfkwtz commented on #291
#245

[2020-03-23 18:25] #291 closed

[2020-03-24 10:15] ShaharyarMaroof opened #293 "[Android] Error while updating property 'color' in shadow node of type: AndroidTextInput"
**Describe the bug**<br />
Passing color prop to textInputProps on android crashes the app.
[code]

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  Go to '...'
2.  Click on '....'
3.  Scroll down to '....'
4.  See error

**Expected behavior**<br />
A clear and concise description of what you expected to happen.

**Screenshots**<br />
N/A

**Additional details**<br />
-   Device: Googl

[2020-03-24 15:56] lfkwtz commented on #293
what does Colors.black reference?

[2020-03-24 16:10] ShaharyarMaroof commented on #293
black color code #000000

[2020-03-24 16:40] lfkwtz commented on #293
what happens on the standard TextInput component?

[2020-03-24 16:42] ShaharyarMaroof commented on #293
If I don't pass the color prop it works fine. But I need to change the color of the dropdown text, so I passed the color prop with the HEX code. For ios it runs correctly but on android I'm getting the exception and the app crashes.

[2020-03-24 16:47] lfkwtz commented on #293
sounds like an upstream issue then

[2020-03-24 16:47] #293 closed

[2020-03-24 16:52] ShaharyarMaroof commented on #293
@lfkwtz but if Im using a react-native text component, then it should also crash if I set color right? That works correctly. I don't know where ```java.lang.String cannot be cast to java.lang.Integer ``` conversion is happening.

[2020-03-24 16:56] lfkwtz commented on #293
You said the native TextInput crashes. This library is using it under the hood. Not sure about Text but that wouldn’t be relevant.

[2020-03-24 16:58] ShaharyarMaroof commented on #293
okay, any work arounds I can use to set color on android?

[2020-03-24 17:00] lfkwtz commented on #293
Like I said - it’s an upstream issue. I’d search around for setting color on TextInput. You’ll find more resources that aren’t tied to this library. Maybe try nesting within the style prop.

[2020-03-24 17:01] ShaharyarMaroof commented on #293
cool, thanks!

[2020-03-25 05:17] ShaharyarMaroof commented on #293
@lfkwtz as you suggested, setting the color prop through style on android fixes the issue. thanks!

[2020-03-28 12:45] lfkwtz commented on #292
Use the bug report template

[2020-03-28 12:45] #292 closed

[2020-03-30 06:34] emilmammadov commented on #245
Any news? Any workarounds for now? It is very urgent.

[2020-03-31 05:10] kharlm opened #296 "How to show the original placeholder after done is pressed and item is selected"
I'm trying to show the original place holder after an item is selected not sure how, I even set the displayValue: false in the item array however this did nothing. How do I make the default placeholder show after and item is selected

[2020-03-31 12:02] lfkwtz commented on #296
That’s poor ux - but use headless mode.

[2020-03-31 12:02] #296 closed

[2020-03-31 14:44] lfkwtz opened #297 "test issue"
test issue

[2020-03-31 14:51] #297 closed

[2020-03-31 14:51] lfkwtz opened #298 "test issue"
test issue

[2020-03-31 14:51] lfkwtz commented on #298
@lfkwtz this issue was automatically closed because it did not follow one of the available issue templates. See github.com/lawnstarter/react-native-picker-select/issues/new/choose for available options.

[2020-03-31 14:51] #298 closed

[2020-03-31 16:31] lfkwtz opened #299 "test"
**Describe the bug**<br />
A clear and concise description of what the bug is.

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  Go to '...'
2.  Click on '....'
3.  Scroll down to '....'
4.  See error

**Expected behavior**<br />
A clear and concise description of what you expected to happen.

**Screenshots**<br />
Add screenshots to help explain your problem. If screenshots aren't app

[2020-03-31 16:31] lfkwtz commented on #299
@lfkwtz this issue was automatically closed because it did not follow one of the available issue templates. See [here](https://github.com/lawnstarter/react-native-picker-select/issues/new/choose) for available options.

[2020-03-31 16:31] #299 closed

[2020-03-31 16:31] lfkwtz opened #300 "test"
**Describe the bug**<br />
A clear and concise description of what the bug is.

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  Go to '...'
2.  Click on '....'
3.  Scroll down to '....'
4.  See error

**Expected behavior**<br />
A clear and concise description of what you expected to happen.

**Screenshots**<br />
Add screenshots to help explain your problem. If screenshots aren't app

[2020-03-31 16:32] #300 closed

[2020-04-01 12:59] mezhik91 opened #301 "Deprecated import of Picker from 'react-native'"
**Describe the bug**<br />
After migration to RN 0.62 I started to see Warning like on screenshot

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  Upgrade your app to RN 0.62

**Expected behavior**<br />
No warnings visible

**Screenshots**<br />
<img width="502" alt="Screenshot 2020-04-01 at 14 51 24" src="https://user-images.githubusercontent.com/8568104/78139347-a856dc00-7428-11ea-

[2020-04-01 14:30] lfkwtz commented on #301
thank you for clarifying this message is in 0.62 - wasn't aware of that until now 👍

[2020-04-02 03:48] kharlm commented on #296
@lfkwtz what headless mode are you referring to and how do I use it ?

[2020-04-02 10:37] lfkwtz commented on #296
read the docs

[2020-04-02 13:53] RKuerten opened #302 "fontFamily prop passed to inputAndroid doesn't work"
**Describe the bug**<br />
fontFamily prop passed to the TextInput style doesn't work on Android (using Expo)

**To Reproduce**<br />
Steps to reproduce the behavior:

1. Import the fonts you want to use in your app.
2. Use the picker provided by this repository, for example:
[code]

3.  Create an styleSheet for the inputAndroid style:
[code]

4.  fontFamily prop doesn't apply, but all others do.

[2020-04-02 13:58] RKuerten commented on #302
To be extra clear, using `textInputProps` also doesn't work.

[2020-04-02 14:15] lfkwtz commented on #302
**Reproduction and/or code sample**

neither isn't helpful

[2020-04-02 14:17] RKuerten commented on #302
I will try to come up with a snack that works, but this is super easy to reproduce in a local environment.

[2020-04-02 14:35] RKuerten commented on #302
Updated with a snack @lfkwtz

[2020-04-02 14:56] lfkwtz commented on #302
check the docs https://github.com/lawnstarter/react-native-picker-select#android-specific

`style.inputAndroid` requires `useNativeAndroidPickerStyle={false}`

[2020-04-02 14:56] #302 closed

[2020-04-02 15:01] RKuerten commented on #302
The docs doesn't help. I'm using expo, so there's no such thing as editing the styles.xml file.

[2020-04-02 15:06] lfkwtz commented on #302
no, it isn't

![image](https://user-images.githubusercontent.com/1746853/78265123-a4c76180-74c9-11ea-86ec-d88b8ea6e4ab.png)

[2020-04-02 15:14] RKuerten commented on #302
It is.
Anyway, it doesn't work. Here's what the FiraSans looks like:
https://fonts.google.com/specimen/Fira+Sans

The output is:
![image](https://user-images.githubusercontent.com/30464993/78265879-69359300-74db-11ea-9448-3b3a5ffafc9e.png)

[2020-04-02 15:19] lfkwtz commented on #302
alright so you updated the snack to include it.

`style.inputAndroid` just passes props down to TextInput. try again with your non-snack by applying `useNativeAndroidPickerStyle={false}`

[2020-04-02 15:27] RKuerten commented on #302
The screenshot was already with using `useNativeAndroidPickerStyle={false}`, otherwise the style would be messed up.

And the snack shows that it doesn't work already. So, how can it be fixed? @lfkwtz

[2020-04-02 19:32] lfkwtz commented on #302
can't help you any further. props are directly passed down to the textinput. if something isn't working, it's not due to this library. stackoverflow may be your best bet at this point.

[2020-04-07 10:35] maharjanaman commented on #264
@gamezinfantes What version are you on? I tried your workaround but don't seem to work. I'm on version `6.6.0`.
Also, are there any other workaround?

[2020-04-08 13:04] himrocks33 commented on #112
@jawadm any idea when the beta version will be released?   I'm having multiple issues with this component since upgrading to expo 37.0.6 and react 16.9.0.  Mainly setting value no longer works as onValueChanged is called twice.  Once with the correct value and then a second time with the previous value.

[2020-04-08 13:35] lfkwtz commented on #112
@himrocks33 no - i'm going to try to start rolling out some major versions with some smaller breaking changes to clean up some other issues -- but this bug specifically won't be fixed until I or someone else finds time to tackle it. hopefully soon but i'm not going to make any promises on my availability.

[2020-04-08 14:25] himrocks33 commented on #112
@lfkwtz Thank you.  I installed beta.7.0.0 and it fixed my issues.

[2020-04-08 14:27] lfkwtz commented on #290
fixed https://github.com/lawnstarter/react-native-picker-select/pull/304

[2020-04-08 14:27] #290 closed

[2020-04-09 15:56] himrocks33 commented on #112
@lfkwtz I've noticed that you update the version number to 7.0.0 but did not include the beta version code that fixed this issue?   When I ran npm install this morning this in turn broke my code again as react-native-picker-select@^7.0.0-beta.0 now resolves to 7.0.0 but the code is broken in 7.0.0.  Can the beta branch code be merged into 7?  Thank you.

[2020-04-09 16:11] lfkwtz commented on #112
my response to your earlier question explains that

[2020-04-09 21:23] lfkwtz commented on #264
just spun up a brand new app.

react 16.11
react-native 0.62.2
react-native-picker-select 7.0.0

ran with `react-native run-ios '--simulator=iPad (7th generation)'`

not seeing the issue.

seems to be a legit issue based on the activity here - but someone will need to provide me with a reproduction.

[2020-04-09 21:26] lfkwtz commented on #301
going to close out this issue - discussion can live on the pr

[2020-04-10 02:59] maharjanaman commented on #264
@lfkwtz Can you try it in expo? @danecando seems to be on expo and I too am using expo sdk 35. Besides that, I'm connecting it with [redux-form](https://redux-form.com/8.3.0/).

[2020-04-10 14:08] lfkwtz commented on #264
just tried expo - worked fine. i'll need a repro on this.

[2020-04-10 18:46] maitham commented on #245
Turns out the color prop is on on items. When you create items {label: "", value: "", color:""}

[2020-04-10 19:39] himrocks33 commented on #112
@lfkwtz yes that is what I ended up doing and it is working again.  Just for further information.  I've noticed this only seems to be an issue while using with redux.  If I do the same implementation with the react state manager then this component works as expected with any version.

[2020-04-10 23:58] jamieshepherd opened #306 "Picker has been extracted from react-native core"
**Describe the bug**<br />
Not so much a bug, but deprecation warning in the latest version of react native (.62).

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  Create a new react native project, version .62
2.  Run any example
3.  See yellow warning box notifying deprecation

**Expected behavior**<br />
No yellow warning box

**Screenshots**<br />
![image](https://user-images.gith

[2020-04-11 04:19] #306 closed

[2020-04-11 04:39] jamieshepherd commented on #306
Can you link the duplicate issue, please - so I can follow it?

[2020-04-11 12:30] jcoulaud commented on #306
I think it may be related to [this issue](https://github.com/lawnstarter/react-native-picker-select/issues/301) and [this PR](https://github.com/lawnstarter/react-native-picker-select/pull/303)

[2020-04-16 03:44] maharjanaman commented on #264
Mine was on expo sdk 35.0.0 and with version 6.1.0 of react-native-picker-select. I upgraded to latest react-native-picker-select but there was still an issue.

[2020-04-16 11:48] lfkwtz commented on #264
then please share code since you are able to reproduce it

[2020-04-16 11:57] maharjanaman commented on #264
@lfkwtz as I said that I'm connecting it to redux-form, so here is how I implemented it
[code]
And here is piece of redux-form code
[code]
Hope this helps.

[2020-04-16 16:51] varun-naharia opened #308 "Picker is closing on value change in iOS"
[code]

I am using above code for picker where unit is defined

[code]

![vyBx8olr8s](https://user-images.githubusercontent.com/10987732/79483850-7355a680-8030-11ea-9675-419b6c86da70.gif)

[2020-04-16 16:51] lfkwtz commented on #308
@varun-naharia this issue was automatically closed because it did not follow one of the available issue templates. See [here](https://github.com/lawnstarter/react-native-picker-select/issues/new/choose) for available options.

[2020-04-16 16:51] #308 closed

[2020-04-17 11:03] akhilsanker commented on #208
Hi @lfkwtz ,

Its not working with style props. Please suggest a solution.

Thanks

[2020-04-17 14:22] jameschetwood commented on #112
Ive just switched to `7.0.0-beta.0` for my Expo + Redux project and I'm getting the same bug.

[2020-04-18 20:28] arwantys commented on #264
some problem

[2020-04-19 07:51] h4m3d66 opened #309 "add accessible, accessibilityLabel prop for e2e test"
**Is your feature request related to a problem? Please describe.**<br>
there is no accessibilityLabel prop for e2e testing on android

**Describe the solution you'd like**<br>
adding accessibilityLabel, accessible prop

[2020-04-19 07:51] lfkwtz commented on #309
@h4m3d66 this issue was automatically closed because it did not follow one of the available issue templates. See [here](https://github.com/lawnstarter/react-native-picker-select/issues/new/choose) for available options.

[2020-04-19 07:51] #309 closed

[2020-04-20 10:57] AregShahbazian opened #310 "Warning: Picker has been extracted from react-native core"
**Describe the bug**<br />
Importing and using the Picker component causes the following warning:

`Warning: Picker has been extracted from react-native core and will be removed in a future release. It can now be installed and imported from '@react-native-community/picker' instead of 'react-native'. See https://github.com/react-native-community/react-native-picker `

**To Reproduce**<br />
Steps t

[2020-04-20 12:13] #310 closed

[2020-04-21 05:11] formaldehydeson commented on #208
https://snack.expo.io/gi7t8Jv_o

seems like it only works on android if `useNativeAndroidPickerStyle` is set to `false` which is unfortunate since that breaks long word ellipse truncation

[2020-04-21 06:12] AregShahbazian opened #311 "async onValueChange called twice"
Possibly duplicate of [this](https://github.com/lawnstarter/react-native-picker-select/issues/265) issue.

**Describe the bug**<br />
When `onValueChange` awaits an async call, the delay causes it to be fired twice. Once from the manual select, and once from `getDerivedStateFromProps`

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  Create a `RNPickerSelect`
2.  set `onValueChange` to

[2020-04-21 16:47] Rodrigo816 commented on #22
any updates on this?

[2020-04-22 15:26] cliste-soft opened #312 "Picker has been extracted from react-native core"
**Describe the bug**<br />
Warning: Picker has been extracted from react-native core and will be removed in a future release. It can now be installed and imported from '@react-native-community/picker' instead of 'react-native'. See https://github.com/react-native-community/react-native-picker

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  Just use and see the warning..

**Expected b

[2020-04-22 16:05] #312 closed

[2020-04-23 07:39] vparusheva opened #313 "Inaccurate README for useNativeAndroidPickerStyle"
**Describe the bug**<br />
useNativeAndroidPickerStyle has been changed in the documentation stating it is a component. However, the API and the implementation are clearly showing it's a boolean.

**Expected behavior**<br />
useNativeAndroidPickerStyle must be noted as a boolean in the README

[2020-04-23 07:39] lfkwtz commented on #313
@vparusheva this issue was automatically closed because it did not follow one of the available issue templates. See [here](https://github.com/lawnstarter/react-native-picker-select/issues/new/choose) for available options.

[2020-04-23 07:39] #313 closed

[2020-04-23 07:41] vparusheva opened #314 "Inaccurate README for useNativeAndroidPickerStyle"
**Describe the bug**<br />
useNativeAndroidPickerStyle has been changed in the documentation stating it is a component. However, the API and the implementation are clearly showing it's a boolean.

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  Read the README

**Expected behavior**<br />
useNativeAndroidPickerStyle must be noted as a boolean in the README

**Screenshots**<br />
"n/a"

[2020-04-23 11:38] lfkwtz commented on #314
fixed - thank you

[2020-04-23 11:38] #314 closed

[2020-04-23 15:38] haveamission opened #315 "Support Styling on React Native Web"
**Is your feature request related to a problem? Please describe.**<br>
I'd really like to be able to style this on React Native Web. Currently I cannot.

**Describe the solution you'd like**<br>
The default React Native picker supports styling out of the box. I would like this picker to work similarly on React Native Web

**Describe alternatives you've considered**<br>
Currently I am going to have

[2020-04-23 16:52] lfkwtz commented on #315
i'll throw this on the feature request board. i don't use rn web so likely not something i'll put time into but would be happy to hear suggestions or prs on this

[2020-04-23 16:58] haveamission commented on #315
It's possible I might write a PR at some point for it

[2020-04-23 17:13] NathanNovak commented on #100
@lfkwtz Changing the placeholderTextColor is still not working on iOS.  Is there anything else that needs to be done since the info is not in the docs?

[2020-04-23 18:16] lfkwtz commented on #100
look at the sample app

[2020-04-23 19:20] haveamission commented on #315
Added a PR

[2020-04-23 22:37] EltonCarreiro commented on #285
Thanks a lot for the reply! Saved a lot of time!

[2020-04-26 11:40] openwell opened #317 "Picker warning in RN 0.62.2"
**Describe the bug**<br />
Warning: Picker has been extracted from react-native core and will be removed in a future release. It can now be installed and imported from \'@react-native-community/picker\' instead of \'react-native\'. See https://github.com/react-native-community/react-native-picker',  in RNPickerSelect

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  install latest reac

[2020-04-26 12:18] #317 closed

[2020-04-26 12:27] openwell commented on #317
Hi, @lfkwtz if you call it duplicate... can point me to a reference ticket/issue so I can monitor it.
or its something you are currently working on.

[2020-04-26 13:04] lfkwtz commented on #317
https://github.com/lawnstarter/react-native-picker-select/pull/303

[2020-04-27 19:43] cellobnu opened #318 "Warning Picker in version RN 0.62"
Warning: Picker has been extracted from react-native core and will be removed in a future release. It can now be installed and imported from '@react-native-community/picker' instead of 'react-native'. See https://github.com/react-native-community/react-native-picker

[2020-04-27 19:43] lfkwtz commented on #318
@cellobnu this issue was automatically closed because it did not follow one of the available issue templates. See [here](https://github.com/lawnstarter/react-native-picker-select/issues/new/choose) for available options.

[2020-04-27 19:43] #318 closed

[2020-04-27 19:51] lfkwtz commented on #301
re-opened for visibility

[2020-04-28 02:49] usfslk commented on #178
I don't understand how this placeholder works, it display it fine using  `placeholder={ {label: studio.room_type, value: studio.room_type} }` but then the item get added to picker list? why a placeholder is added to the list? I don't get it

also when I try using the value prop i can no longer interact with the picker it stuck on value item, this library is so confusing, why does react native prov

[2020-04-29 08:42] vannestepieter commented on #22
Still not working... maybe the hacky way?

[2020-05-01 16:54] noelq commented on #100
@NathanNovak on Ios, I did this:

[2020-05-01 16:56] noelq commented on #100
@NathanNovak I did this and it works :
`  inputIOS: {
        color: 'white',
        paddingHorizontal: 10,
        backgroundColor: colors.unabizOrange.main,
        borderRadius: 5,
    },
    placeholder: {
        color: 'white',
      },
    inputAndroid: {
        color: 'white',
        paddingHorizontal: 10,
        backgroundColor: colors.unabizOrange.main,
        borderRadius: 5,
    }

[2020-05-03 22:27] appukuttan-shailesh opened #320 "Tried to register two views with the same name AndroidDropdownPicker"
**Describe the bug**<br />
Getting error with following message:

The error seems to be similar to this:
https://github.com/react-native-community/react-native-picker/issues/15

**To Reproduce**<br />
Steps to reproduce the behavior:
In my project, I have used also this component:
import { Picker } from '@react-native-community/picker';
I believe it is a clash between these components. Any way to

[2020-05-03 22:33] appukuttan-shailesh commented on #320
Also, the solution mentioned [here](https://github.com/react-native-community/react-native-picker/issues/15#issuecomment-567101445) did not work for me. All my imports of that component already were:
`import { Picker } from '@react-native-community/picker';`

[2020-05-05 21:17] WilcoBreedt opened #321 "Add testID to component props to easily access component with test libraries"
**Is your feature request related to a problem? Please describe.**<br>
The problem I am experiencing is writing tests using detox. I currently have a few selects on a screen and need to tap each one of them in order to set the values, but I am finding it difficult because I cannot specify a custom test id for each of the selects that I use. Another issue I am experiencing is when using stack navig

[2020-05-07 17:15] lfkwtz commented on #321
override with touchableWrapperProps / pickerProps / etc

[2020-05-07 17:15] #321 closed

[2020-05-07 17:17] lfkwtz commented on #315
closing this out due to pr

[2020-05-07 17:17] #315 closed

[2020-05-07 17:18] lfkwtz commented on #315
https://github.com/lawnstarter/react-native-picker-select/pull/316

[2020-05-07 18:35] BogdanRad commented on #224
@lfkwtz any information about this feature?

[2020-05-07 18:55] lfkwtz commented on #224
not something i'm interested in tackling. feature request will live on if someone else is.

[2020-05-08 16:19] KristenKatona commented on #264
Any updates here? The suggestion for a workaround only resolves the issue for one of my pickers and it breaks the whole thing on Android.
https://d.pr/i/B8K2Dz

[2020-05-12 19:31] lfkwtz commented on #264
if someone can share a full repro with me, i'd be happy to look into it. @KristenKatona i'm especially curious why this would only fix one of your pickers - what is unique about it?

[2020-05-12 19:49] KristenKatona commented on #264
@lfkwtz the picker it did NOT fix (on iOS only) was within an extra nested view vs the one that did work. I just removed that extra inner view and it worked.

[2020-05-14 20:44] TildeWill commented on #321
Did either of you have an example that works for picking a value? I'm running in to the same issue now.

[2020-05-15 00:22] TildeWill commented on #321
We were able to write a test that picked something from the picker. We found that you had to tap twice on the text field to get the picker to open up, like this:

in `index.js`
[code]
in `happyPath.spec.js`:

[code]
cc @stupakov

[2020-05-15 14:59] Matiyeu commented on #287
What did you do to solve it?

[2020-05-18 04:54] peterleng opened #323 "Warning in RN 0.62.2. Instead of @react-native-communtity/picker"
![image](https://user-images.githubusercontent.com/7566681/82175442-7e894400-9906-11ea-8fa0-652ef4612f8d.png)

I used React-Native 0.62.2

[2020-05-18 04:55] lfkwtz commented on #323
@peterleng this issue was automatically closed because it did not follow one of the available issue templates. See [here](https://github.com/lawnstarter/react-native-picker-select/issues/new/choose) for available options.

[2020-05-18 04:55] #323 closed

[2020-05-18 16:19] TildeWill commented on #321
As a follow up, having to do the double tap was hard to discover. I'd love to see a future version of this component eliminate the need for the extra tap.

[2020-05-18 21:02] drewpitchford commented on #273
+1....this would be a great enhancement

[2020-05-19 07:54] badarshahzad commented on #320
+1

I have also faced the same issue
![Screenshot from 2020-05-19 12-45-33](https://user-images.githubusercontent.com/19945367/82300119-d770df00-99cf-11ea-8926-36fe9c3e8fa1.png)

[2020-05-19 08:03] badarshahzad commented on #320
These are the libraries version im using
`"@react-native-community/picker": "^1.5.0",`
`"react": "16.9.0",`
`"react-native": "0.61.2",`

[2020-05-19 08:52] rickysullivan commented on #264
Having the same issue. Example snack: https://snack.expo.io/@ptgodev/nervous-chocolate

[2020-05-19 15:47] lfkwtz commented on #264
@rickysullivan just pulled that down and ran on expo-cli with iPhone 8

![Untitled](https://user-images.githubusercontent.com/1746853/82348155-19912500-99be-11ea-9bc0-d88495c09fd0.gif)

[2020-05-19 19:16] rickysullivan commented on #264
Which cli version?

[2020-05-19 19:23] lfkwtz commented on #264
3.20.9

[2020-05-19 19:26] rickysullivan commented on #264
Expo client app or did you build a standalone?

[2020-05-19 19:27] lfkwtz commented on #264
client

[2020-05-19 19:48] rickysullivan commented on #264
Client version?

[2020-05-19 20:01] lfkwtz commented on #264
2.15.4.10229

[2020-05-19 20:12] rickysullivan commented on #264
![issue-264](https://user-images.githubusercontent.com/437480/82373315-86b1c280-9a71-11ea-8f23-487723c03631.gif)

[2020-05-19 20:53] rickysullivan commented on #264
Strange, my actual project is now working.
![issue-264-working](https://user-images.githubusercontent.com/437480/82377156-61c04e00-9a77-11ea-9166-6ae70c56031c.gif)

[2020-05-21 21:02] lfkwtz commented on #320
sounds like the issue is using both this library and the newly abstracted Picker library.

either that library will need to be updated to handle this scenario - or this'll be solved once #303 is merged in.

[2020-05-22 11:40] Fleuv opened #325 "Unable to override input style"
**Describe the bug**<br />
Unable to override the style of the element inside the container view.

**To Reproduce**<br />
Steps to reproduce the behavior:

1.  Load the picker component in a blank app.
2.  Fill all required attributes for the component with the once similar to the main example.
3.  Add a `style` attribute and add the following value to it:
[code]
4. The padding is still visible.

[2020-05-25 19:12] TheAdamGalloway commented on #112
Hey guys, I'm having the same issue (Snack: https://snack.expo.io/@adamgalloway/79883d)

Any recommendations on how I can fix my code?

thanks!

[2020-05-26 11:34] kabolov commented on #325
Same here

[2020-05-26 13:51] sarcadass commented on #112
If you want a very cheap, shameful and dirty solution (but working nonetheless). You can validate that the value has been changed by the user if the value has been changed x milliseconds (in that case 100 ms) after the component has been mounted (because the user won't have enough time to click the element and select a value in such a short time). I tested it and it's working on Android, iOS and w

[2020-05-26 14:00] Fleuv commented on #325
For android it seems to be possible to get it some kind of working with the attribute `useNativeAndroidPickerStyle` set to `false`. Then you can set the the style under the `inputAndroid` attribute.

However this removes the arrow icon on the right.

[2020-05-26 14:30] jeffrey-anglyeds opened #326 "Use @react-native-community/picker instead"
as subject

[2020-05-26 14:30] lfkwtz commented on #326
@jeffrey-anglyeds this issue was automatically closed because it did not follow one of the available issue templates. See [here](https://github.com/lawnstarter/react-native-picker-select/issues/new/choose) for available options.

[2020-05-26 14:30] #326 closed

[2020-05-26 22:54] EmmanuelSkapple commented on #325
Same problem

[2020-05-26 23:09] EmmanuelSkapple commented on #325
if it is urgent to solve this, you can enter the package styles.js file and modify the viewContainer object in line 4, that gives the style to the select

[2020-05-27 08:56] Fleuv commented on #325
I'm quite sure this wouldn't effect anything, also in the unit tests it shows almost the same effect for when editing the `styles.js` as supplying a the `style` attribute with an object with the `viewContainer`  key. However I didn't test this with an integration test yet. But I think I already tried it out without having any effect on the react native picker component. It did of course style the

[2020-05-28 09:30] TheAdamGalloway commented on #112
Thank @sarcadass - this worked for me!

[2020-06-03 19:30] androxxe commented on #320
i have the same issue

[2020-06-03 23:07] pedrofnuness opened #329 "set empy placeholder"
I've tried to do `placeholder={{}}` but then the first item label became the placeholder.

What can I do when I just want to literally have NO PLACEHOLDER at all?

[2020-06-03 23:07] lfkwtz commented on #329
@pedrofnuness this issue was automatically closed because it did not follow one of the available issue templates. See [here](https://github.com/lawnstarter/react-native-picker-select/issues/new/choose) for available options.

[2020-06-03 23:07] #329 closed

[2020-06-04 06:54] akhilsanker opened #330 "Error while updating property 'colors' of a view managed by AndroidTextInput in react-native-picker when using useNativeAndroidPickerStyle={false}"
**Describe the bug**<br />
When using `useNativeAndroidPickerStyle={false}`, getting error as
`Error while updating property 'colors' of a view managed by AndroidTextInput in react-native-picker` on selecting a picker item.

**Screenshots**<br />

![Screenshot_2020-06-04-12-16-30-850_com test](https://user-images.githubusercontent.com/32122016/83724322-b5c55800-a65d-11ea-964a-f880f30cff1e.png)

**